.cms-about-us header.page-header {
    background: unset;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    border: unset;
}
.blog-index-index .post-list-wrapper .blog-list-post .item-post-full {
    width: calc(100% / 3 - 5px);
    display: inline-block;
    flex: unset;
    vertical-align: top;
    border-bottom: 0;
    padding: 0px 10px;
    margin-bottom: 35px;
    border-right: 2px solid #eee;
}
.blog-index-index .blog-post-thumb {
    border-radius: 7px 7px 0px 0px;
}
.blog-index-index .post-list-wrapper .blog-list-post {
    flex-wrap: unset;
    display: block;
}
.blog-index-index .post-content .post-description .post-text-hld {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #322a7e;
    margin: 10px 0px 15px;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-title {
    font-size: 17px;
    text-align: left;
    margin: 0px 0px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-title a {
    color: #322a7e !important;
    line-height: 22px;
    font-size: 15px;
}
.blog-index-index .post-list-wrapper .blog-list-post .item-post-full .post-bottom .flex-layout {
    justify-content: right;
    text-decoration: underline;
    color: #322a7e;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-header .post-author {
    display: none;
}
.blog-index-index .post-holder .post-header {
    position: unset;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-header .post-info {
    position: absolute;
    bottom: 5px;
    padding-bottom: 0;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-header .post-info span.value {
    color: #322a7e;
}
.blog-index-index .post-item .post-categories {
    background: transparent;
    display: block;
    text-align: left;
    padding: 5px 0px;
}
.blog-index-index .post-item .post-categories a {
    color: red;
    font-size: 14px;
    font-weight: 300;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-header .post-author {
    display: none;
}
.blog-index-index .post-holder .post-header {
    position: unset;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-header .post-info {
    position: absolute;
    bottom: 20px;
    padding-bottom: 0;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-header .post-info span.value {
    color: #322a7e;
}
.blog-index-index .post-item .post-categories {
    background: transparent;
    display: block;
    text-align: left;
    padding: 5px 0px;
}
.blog-index-index .post-item .post-categories a {
    color: #ff6e6e;
    font-size: 12px;
    font-weight: 300;
}
.blog-index-index .post-list-wrapper .blog-list-post .item-post-full .post-item {
    padding: 0px 10px;
    overflow: visible;
}
.blog-index-index .blog-post-info {
    box-shadow: 2px 2px 7px -3px;
    border-radius: 0px 0px 7px 7px;
    padding-bottom: 15px;
}
.blog-index-index .post-list-wrapper .blog-list-post .item-post-full:after {
    border-right: 2px solid #eee;
    height: 100%;
    display: inline-block;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-read-more.btn, .blog-index-index .post-list-wrapper .blog-post-info .post-read-more.btn:hover {
    color: #322a7e;
    background: #fff;
    border: 0;
    padding: 0px 0px 7px;
    font-size: 12px;
}
.blog-index-index .item.post-posed-date {
    font-size: 12px;
}
.blog-index-index .post-list-wrapper .blog-list-post .item-post-full:nth-child(3n),
.blog-index-index .post-list-wrapper .blog-list-post .item-post-full:last-child {
    border-right: 0;
}
.blog_index_banner {
    margin-bottom: 30px;
    display: block;
}
.sidebar.sidebar-additional {
    border-right: 2px solid #eee;
    margin-right: 10px;
    width: 24% !important;
}


.storelocator-index-index .page-title-wrapper {
    display: none;
}
.storelocator-index-index .store_locator_banner-text p {
    top: 40%;
    position: relative;
}
.storelocator-index-index .store_locator_banner-wrapper {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-height: 660px;
    overflow: hidden;
    margin-bottom: 47px;
    position: relative;
}
.storelocator-index-index .store_locator_banner-wrapper img {
    width: 100%;
    object-fit: cover;
}
.storelocator-index-index .store_locator_banner-text {
    position: absolute;
    z-index: 1;
    color: #fff;
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 1px 1px black;
}
span.icon-location-custom {
    content: "";
    background: url(../images/LOCATION.svg) no-repeat;
    display: inline-block;
    width: 13px;
    height: 18px;
    background-size: 100%;
    margin-right: 10px;
    margin-right: 15px;
    vertical-align: top;
}
.tab1-content-right-bottom {
    color: #322a7e;
    font-size: 15px;
}
span.icon-time {
    content: "";
    background: url('../images/TIME.svg') no-repeat;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-size: 100%;
    margin-right: 10px;
    margin-right: 15px;
    vertical-align: top;
}
span.icon-phone-custom {
    content: "";
    background: url('../images/SMARTPHONE.svg') no-repeat;
    display: inline-block;
    width: 13px;
    height: 18px;
    background-size: 100%;
    margin-right: 10px;
    margin-right: 15px;
    vertical-align: top;
}
.tab1-content-right-bottom span {
    display: inline-block;
}
.tab1-content-right-bottom span:nth-child(2) {
    width: calc(100% - 30px);
    vertical-align: middle;
}
span.note-covid {
    margin-left: 30px;
    color: #ef4f4f;
    font-size: 14px;
}
.tab1-content-right-bottom p {
    margin-top: 20px;
}
.tab1-content-right-bottom a {
    color: #322a7e;
    text-decoration: underline;
}
.tab1-content-right h3 {
    color: #322a7e;
    margin: 0;
    font-weight: 900;
    font-size: 30px;
}
.tab1-content-right h3+p {
    color: #322a7e;
    font-weight: 700;
}
.store-locator-tab-wrapper h2 {
    font-weight: 400;
    color: #322a7e;
    width: 100%;
    max-width: 640px;
    text-align: center;
    margin: 40px auto;
}
div#fourstar-tab2 .store-card-item-wrapper {
    width: calc(100% / 3 - 43px);
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
    margin-bottom: 60px;
    position: relative;
}
div#fourstar-tab2 .store-card-item-wrapper:nth-child(3n) {
    margin-right: 0;
}
div#fourstar-tab2 .store-card-item-wrapper img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
div#fourstar-tab2 .store-card-item-content {
    box-shadow: 0px 3px 8px -4px;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}
div#fourstar-tab2 span.icon-time {
    width: auto;
    margin: 0;
    background-size: 15px;
    padding-left: 20px;
    height: 20px;
    background-position: 0;
}
div#fourstar-tab2 .store-card-item-content p:first-child {
    display: inline-block;
    color: #322a7e;
    width: calc(100% - 180px);
    font-size: 15px;
}
div#fourstar-tab2 .store-card-item-content p:nth-child(2) {
    width: 175px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    color: #322a7e;
}
div#fourstar-tab2 .store-card-item-content span+span {
    display: inline-block;
    width: calc(100% - 29px);
    vertical-align: top;
}
.dealers-section-wrapper-locator .dealer-icon {
    width: calc(25% - 20px);
    background: #fff;
    float: left;
    margin: 10px;
    color: #322a7e;
    position: relative;
    height: 160px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    display: table;
}
.dealers-section-wrapper-locator {
    display: block;
    float: left;
    width: 100%;
    display: table;
}
.dealers-section-wrapper-locator .dealer-intro {
    width: 100%;
    height: 100%;
    display: none;
    padding: 30px;
}
.dealers-section-wrapper-locator .dealer-intro span {
    display: block;
    font-size: 14px;
}
.dealers-section-wrapper-locator .dealer-logo {
    display: table;
    width: 100%;
    height: 100%;
}
.dealers-section-wrapper-locator .dealer-logo-inner {
    display: table-cell;
    vertical-align: middle;
}
.dealers-section-wrapper-locator .dealer-icon:hover .dealer-logo {
    display: none;
}
.dealers-section-wrapper-locator .dealer-icon .dealer-intro-inner {
    display: table-cell;
    vertical-align: middle;
}
.dealers-section-wrapper-locator .dealer-icon:hover .dealer-intro{
    box-shadow: 0px 0px 18px -7px;
    display: table;
    width: 100%;
    height: 100%;
}
.dealers-section-wrapper-locator .dealer-logo-inner img {
    object-fit: contain;
    width: 210px;
    height: 90px;
}
.tab1-content-left img {
    width: 100%;
}
.tab1-content-wrapper {
    float: left;
    width: 100%;
}
div#fourstar-tab1 {
    float: left;
    width: 100%;
}
.store-locator-tab-wrapper .owl-nav {
    position: absolute;
    right: 24%;
    width: 60px;
    bottom: 40px;
}
.store-locator-tab-wrapper .owl-nav button.owl-prev:before {
    content: "";
    background: url(../images/left-arrow.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
}
.store-locator-tab-wrapper .owl-nav button.owl-next:before {
    content: "";
    background: url(../images/right-arrow.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
}
.store-locator-tab-wrapper .owl-nav button {
    background: transparent !important;
}
.contact-index-index .page-title-wrapper {
    display: none;
}
.contact-us-banner-top-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 3%;
}
.contact-index-index .column.main {
    position: relative;
}
.contact-us-banner-top-wrapper h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}
.contact-us-banner-top-wrapper h2 {
    font-size: 36px;
}
.contact-us-img-top-wrapper {
    margin-left: calc(50% - 50vw);
    max-height: 431px;
    overflow: hidden;
    margin-right: calc(50% - 50vw);
}
.contact-us-img-top-wrapper img {
    width: 100%;
    object-fit: cover;
}
.contact-us-bar span {
    display: block;
}
.contact-us-bar-inner {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-us-bar {
    padding: 0px 7%;
}
.contact-us-bar-inner a {
    color: #322a7e;
}
.contact-us-bar-inner span.bar-text {
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 15px;
}
.contact-us-bar-inner span.bar-content {
    font-size: 14px;
}
.leave-msg-icon {
    content: "";
    background: url(../images/msg-icon.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 15px;
    background-size: 100%;
}
.call-icon {
    content: "";
    background: url(../images/call-icon.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 15px;
    background-size: 100%;
}
.showroom-icon {
    content: "";
    background: url(../images/showroom-icon.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 15px;
    background-size: 100%;
}
.formContactHeading {
    text-align: center;
    max-width: 594px;
    margin: 0 auto;
    margin-bottom: 6px;
    font-size: 26px;
}
.contact-index-index .contact-us {
    color: #322a7e;
}
.formContactSubline {
    text-align: center;
    margin-bottom: 40px;
}
.contact-index-index fieldset.fieldset {
    max-width: 700px;
    margin: 0 auto;
}
.contact-index-index .form.contact .formContact-formWrapper input, .contact-index-index .form.contact .formContact-formWrapper textarea, .contact-index-index .form.contact .formContact-formWrapper select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #322a7e;
    margin-bottom: 30px;
    border-radius: 0;
}
.contact-index-index .form.contact .formContact-formWrapper select {
    background: url(../images/select-icon-down.JPG);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18px;
}
.contact-index-index .form.contact .formContact-formWrapper input::placeholder, .contact-index-index .form.contact .formContact-formWrapper textarea::placeholder{
    color: #322a7e;
    font-weight: 400;
    font-size: 15px;
}
.formContact-formInner {
    padding: 50px;
    height: 100%;
    display: block;
    width: 100%;
    box-shadow: 0px 1px 12px 4px #0000001f;
    float: left;
    margin-bottom: 20px;
}
.contact-index-index button.action.submit.primary {
    background-color: transparent;
    border: 0;
    background: url('../images/BUTTON_SHORT.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
}
.contact-index-index .accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.contact-index-index .accordion {
  position: relative;
  background-color: transparent;
  color: #322a7e;
  cursor: pointer;
  border: 0;
  border-bottom: 1px solid #322a7e;
  padding: 18px 10px 10px 0px;
  width: 100%;
  text-align: left;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 0;
}
.contact-index-index .panel {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
  font-size: 14px;
}
.commonEnquiries-accordion {
    float: left;
    width: 100%;
    margin-top: 40px;
    color: #322a7e;
    margin-bottom: 40px;
    padding-top: 10%;
}
.commonEnquiries-accordion-inner {
    width: 70%;
    margin: 0 auto;
}
.contact-index-index .accordion:after {
    content: "+";
    font-size: 23px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.contact-index-index .active.accordion:after {
    content: "-";
}
.commonEnquiries-accordion h2 {
    text-align: center;
    margin: 20px 0px 30px;
}
.banner-about-top.absolute-content a.btn.thcolorbg {
    background-color: transparent;
    background: url('../images/BUTTON_LONG.svg');
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
}
div.page-aboutus:after {
    top: 25%;
    z-index: -1;
}
div.navigation:not(.mobile-style) .level0 > .level-top {
    color: #322a7e;
    font-weight: 600;
}
div.navigation:not(.mobile-style) .level0.active > .level-top, div.navigation:not(.mobile-style) .level0.has-active > .level-top {
    color: #f86060;
}
div.navigation.custommenu li.level0 .level-top:hover {
    color: #f86060;
}
div.navigation:not(.mobile-style) .level0 .submenu a:hover, div.navigation:not(.mobile-style) .level0 .submenu a.ui-state-focus {
    color: #f96060;
}
div.navigation:not(.mobile-style) .level0 .submenu a:hover, div.navigation:not(.mobile-style) .level0 .submenu a.ui-state-focus {
}
div.navigation:not(.mobile-style) .level0 .submenu a {
    color: #322a7e;
}
.commonEnquiries-accordion-wrapper {
    background: url('../images/news_comment_1.png');
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    background-color: #f2eadf;
}
.faq-block-custom-box img {
    max-height: 390px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.faq-block-box-content {
    position: absolute;
    bottom: 10px;
    width: 90%;
    color: #322a7e;
    font-weight: 600;
    padding: 10px 15px;
}
.faq-block-custom-box {
    position: relative;
}
.faq-block-box-content span {float: left;}
.faq-block-box-content a {
    color: #fff;
    padding: 10px;
    float: right;
    background-color: transparent;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    font-weight: 400;
    font-size: 14px;
}
.faq-block-custom-wrapper h2 {
    color: #322a7e;
    text-align: center;
    margin: 50px 0px 10px;
}
.faq-custom-bottom-banner {
    margin-left: calc(50% - 50vw);
    max-height: 361px;
    overflow: hidden;
    margin-right: calc(50% - 50vw);
    position: relative;
}
.faq-custom-bottom-banner img {
    object-fit: cover;
    transform: translate(0px, -170px);
}
.faq-custom-bottom-banner-content {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.faq-custom-bottom-banner-content a {
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 15px;
}
.faq-custom-bottom-banner-content h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}
.rokanfaq-index-index footer.page-footer {
    margin-top: 0;
}
.rokanfaq-index-index footer.page-footer {
    margin-top: 0;
}
div.faq-list ul .faq-item:not(:last-child) {
    border-bottom: 1px solid #322a7e;
}
div.faq-list ul .faq-item h4.question a:not(:hover), div.faq-list ul .faq-item a.question:not(:hover) {
    color: #322a7e;
}
div.faq-list ul .faq-item h4.question a::before, div.faq-list ul .faq-item a.question::before {
    display: none;
}
div.faq-list ul .faq-item h4.question a::after, div.faq-list ul .faq-item a.question::after {
    content: "+";
    float: right;
    position: absolute;
    right: 3%;
    font-size: 25px;
}
div.faq-list ul .faq-item.select h4.question a::after, div.faq-list ul .faq-item.select a.question::after {
    content: "-";
}
.faq-list ul .faq-item .answer {
    color: #322a7e;
}
.rokanfaq-index-index h1.page-title {
    color: #322a7e;
}
div.fotorama__thumb {
    background-color: transparent;
    border: 1px solid #ccc;
}
.cms-mattress-care .mattress-care-box-content {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #322a7e;
    text-align: center;
    width: 92%;
    vertical-align: middle;
    align-items: center;
    font-size: 14px;
    display: none;
    padding: 35px;
    border-radius: 20px;
    height: 93%;
}
.cms-mattress-care tbody.mattress-care-boxes-wrapper td {
    position: relative;
    width: 33.333% !important;
}
.cms-mattress-care .mattress-care-wrapper table {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.cms-mattress-care tbody.mattress-care-boxes-wrapper td img {
    width: 100%;
}
.cms-mattress-care tbody.mattress-care-boxes-wrapper td:hover .mattress-care-box-content {
    display: flex;
    background: #dfddf4;
}
.cms-mattress-care h1.page-title {
    color: #322a7e;
}
.mattress-care-wrapper {
    color: #322a7e;
}
.cms-mattress-care .page-title-wrapper {
    margin-bottom: 30px;
}
.cms-mattress-care .page-title-wrapper h1, .cms-mattress-care h3 {
    font-size: 40px;
    font-weight: 600;
}
.mattress-care-bottom-banner {
    margin-left: calc(50% - 50vw);
    max-height: 361px;
    overflow: hidden;
    margin-right: calc(50% - 50vw);
    position: relative;
}

.mattress-care-bottom-banner img {
    object-fit: cover;
    transform: translate(0px, -170px);
    width: 100%;
}

.mattress-care-bottom-banner-content {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.mattress-care-bottom-banner-content a {
    color: #fff;
    font-weight: 400;
    padding: 15px 25px;
    margin-top: 10px;
    display: inline-block;
    background: url(../images/BUTTON_LONG_transparent.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.mattress-care-bottom-banner-content a:hover {
    background: url(../images/BUTTON_LONG_hover.png);
    padding: 15px 25px;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
}
.cms-mattress-care footer.page-footer {
    margin-top: 0;
}
footer.page-footer {
    margin-top: 0;
}
.technologies-banner-content {
    text-align: center;
}
.technologies-banner-content h2 {
    font-size: 40px;
}
.technologies-banner-content a {
    color: #fff;
    font-size: 16px;
    border: 1px solid;
    padding: 12px;
    margin-top: 10px;
    display: inline-block;
}
.technologies-accordion-heading {
    color: #322a7e;
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
    margin-top: 40px;
}

.box.box-precis .box-content .detail .title ul > li {
    list-style: none;
    display: inline-block;
    width: 100%;
    max-width: 290px;
    height: 58px;
    margin-bottom: 0;
    margin-right: 5px;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}
.box.box-precis .box-content .detail .title ul li {
    background: url(../images/svg-capture.JPG);
}
.box.box-precis .box-content .detail .title ul li.svg-capture1 {
    background: url(../images/svg-capture1.JPG);
    max-width: 190px;
    height: 70px;
}
.box.box-2half .box-content .title {
    margin-bottom: 30px;
}
.box.box-2half .box-content .detail h2:after {
    background: url(../images/FILLED_STAR.svg);
    content: "";
    margin-left: 10px;
    position: absolute;
    width: 100%;
    max-width: 15px;
    display: inline-block;
    height: 20px;
    fill: #fff !important;
    background-size: 15px;
    background-repeat: no-repeat;
    margin-top: 10px;
}


.technologies-accordion-heading h3 {
    font-size: 36px;
}
.technologies-accordion-container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}
.technologies-wrapper .item{
    text-align: center;
}
.technologies-wrapper h2{
    font-size: 36px;
    color: #322a7e;
    font-weight: 100;
}
.technologies-wrapper .technologies-banner-content h2{
    max-width: 470px;
}
.cms-technologies .technologies-wrapper p {
    font-size: 16px;
}
.technologies-wrapper p{
    font-size: 14px;
    color: #322a7e;
}
.technologies-accordion-container .owl-carousel img {
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.technologies-accordion-container .owl-carousel p {
    max-width: 570px;
    margin: 0 auto;
}
body .technologies-wrapper .owl-dots button.owl-dot {
    color: #322a7e !important;
    border-color: #322a7e !important;
}
body .technologies-wrapper .owl-dots button.owl-dot.active {
    background-color: #322a7e !important;
}
body .technologies-wrapper .owl-dots {
    margin: 20px 0px 30px;
}
.technologies-wrapper .owl-nav button.owl-prev:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
}
.technologies-wrapper .owl-nav button.owl-next:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
body .technologies-wrapper .owl-carousel .owl-nav button.owl-next{
    right: 5%;
    background: transparent;
}
body .technologies-wrapper .owl-carousel .owl-nav button.owl-prev {
    left: 5%;
    background: transparent;
}
.one-cr.technologies-last-toggle p {
    margin: 20px 0px 30px;
}
.technologies-block-box-content {
    position: absolute;
    bottom: 5px;
    width: 92%;
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    text-shadow: 1px 1px 27px #000;
    font-size: 15px;
}
.technologies-block-box-content span {
    float: left;
    margin-top: 10px;
}
.technologies-block-box-content a {
    color: #fff;
    padding: 10px;
    float: right;
    background-color: transparent;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    font-weight: 400;
    font-size: 14px;
}
.technologies-block-custom-box-wrapper {
    margin-top: 40px;
}
.technologies-wrapper h3 {
    font-size: 36px;
    color: #322a7e;
    text-align: center;
    margin-top: 45px;
}
.header-container .col-action .minicart-wrapper .action.showcart .counter.qty {
    background-color: #322a7e;
}
.testimo-slider-wrapper, .testimo-slider-wrapper h3, .testimo-slider-wrapper a, .testimo-slider-wrapper p, .testimo-slider-wrapper .pt-testimonial .des, .testimo-slider-wrapper .pt-testimonial .info a:not(:hover) {
    color: #322a7e;
}
.testimo-slider-wrapper .pt-testimonial .info a span {
    font-weight: 600;
    font-size: 22px;
}
.testimo-slider-wrapper .pt-testimonial .info a span.job {
    display: none;
}
body .testimo-slider-wrapper .owl-carousel .owl-nav button.owl-next:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
body .testimo-slider-wrapper .owl-carousel .owl-nav button.owl-prev:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
}
body .testimo-slider-wrapper .owl-carousel .owl-nav button {
    background: transparent;
}
.testimo-slider-wrapper {
    background: #f2eadf;
    width: 100vw;
    position: relative;
    left: calc((-1 * (100vw - 100%)/2));
}
.testimo-slider-wrapper section.testimo-slider {
    margin-bottom: 20px;
}
.testimo-slider-wrapper a.see-all-reviews {
    color: #fff;
    padding: 10px;
    background-color: transparent;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    font-weight: 400;
    font-size: 14px;
    bottom: 20px;
    top: -50px;
    position: relative;
    width: 100%;
    max-width: 140px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.testimo-slider-wrapper section.testimo-slider .rokan-title:after {
    color: #fff;
    padding: 10px;
    background-color: transparent;
    background: url(../images/FILLED_STAR.svg);
    background-position: 0;
    background-size: 26px;
    position: relative;
    width: 100%;
    max-width: 153px;
    display: block;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    content: "";
    background-position: left center;
    background-position: left center;
    background-repeat: space;
}
.testimo-slider-wrapper .pt-testimonial .content-tes .image img {
    display: none;
}
.cms-index-index .banner-about-top.absolute-content {
    background: url('/pub/media/wysiwyg/footer_banner_1.jpg');
    height: 386px;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    background-size: 100%;
}
.see-detail-modal-video video {
    max-width: 712px !important;
    width: 100% !important;
}
a.explore-more-products-home {
    display: block;
    float: right;
    padding: 10px 15px;
    text-decoration: underline;
    color: #322a7e;
}
.cms-index-index .banner-about-top.absolute-content .content {
    position: relative;
    top: unset;
    right: unset;
    left: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    transform: unset;
    display: table-cell;
    vertical-align: middle;
    padding-top: 10%;
}
.testimonial-top-block-custom-wrapper h3, .testimonial-top-block-custom-wrapper p, .testimonial-top-block-custom-wrapper h2, .testimonial-top-block-custom-wrapper h1, .testimonial-top-block-custom-wrapper a, .testimonial-top-block-custom-wrapper .pt-testimonial .des, .testimonial-top-block-custom-wrapper .pt-testimonial .info a:not(:hover) {
    color: #322a7e;
}
.testimonial-top-block-custom-wrapper div.pt-testimonial .info .job {
    display: none;
}

body .testimonial-top-block-custom-wrapper .owl-carousel .owl-nav button{
    background:transparent;
}
body .testimonial-top-block-custom-wrapper .owl-carousel .owl-nav button:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
body .testimonial-top-block-custom-wrapper .owl-carousel .owl-nav button.owl-prev:before {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
}
.testimonial-index-index .page-title-wrapper {
    display: none;
}
.testimonial-pg-hd-wrapper {
    text-align: center;
    margin: 6% 0px 5%;
}
.testimonial-pg-hd-wrapper p {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 0;
}
.testimonial-pg-hd-wrapper h1 {
    margin: 20px 0px;
}
.testimonial-top-block-custom-wrapper .content-tes {
    text-align: center;
    display: grid;
}
.testimonial-top-block-custom-wrapper .content-tes .des {
    order: 2;
    margin-top: 10px;
    font-weight: 100 !important;
    font-size: 14px;
    padding: 0;
    max-height: 118px;
    overflow: hidden;
}
.testimonial-top-block-custom-wrapper .content-tes a {
    display: block;
    font-weight: 100 !important;
}
.testimonial-top-block-custom-wrapper .pt-testimonial .info .name {
    font-weight: 100;
    font-size: 15px;
    margin-top: 10px;
}
.testimonial-top-block-custom-wrapper .pt-testimonial {
    height: 310px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0px 0px 7px 0px #0000002e;
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 10px;
}
.testimonial-top-block-custom-wrapper .testimo-slider .owl-carousel .owl-item {
    width: 320px !important;
}
.testimonial-top-block-custom-wrapper .testimo-slider .container{
    width: 100vw !important;
    position: relative;
    left: calc((-1 * (100vw - 100%)/2));
    max-width: unset;
    padding: 0;
    max-height: 695px;
    overflow: hidden;
}
.testimonial-top-block-custom-wrapper .testimo-slider {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.testimonial-top-block-custom-wrapper section.recommended_by {
    background-image: url(../images/news_comment_1.png);
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-top: 17%;
}
.testimonial-top-block-custom-wrapper section.recommended_by h3, .testimonial-top-block-custom-wrapper section.recommended_by h3 + img {
    display: none;
}
.testimonial-content-item {
    max-width: 1000px;
    width: 100%;
    margin: 70px auto;
}
.testimonial-content-item h3 span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #f28a8a;
    font-weight: 100;
}
.testimonial-content-item p {
    font-size: 15px;
}
.row.testimonial-content-item h3 {
    margin-top: 5px;
}
.row.testimonial-content-item a {
    color: #fff;
    padding: 10px;
    float: left;
    background-color: transparent;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    font-weight: 400;
    font-size: 14px;
}
.testimonial-top-block-custom-wrapper h4 {
    color: #322a7e;
    text-align: center;
    font-size: 36px;
    margin: 25px 0px;
}
.testimonial-top-block-custom-wrapper .technologies-block-custom-box-wrapper a {
    color: #fff;
}
.testimonial-top-block-custom-wrapper .content-tes .image:after {
    color: #fff;
    padding: 10px;
    background-color: transparent;
    background: url(../images/FILLED_STAR.svg);
    background-position: 0;
    background-size: 18px;
    position: relative;
    width: 100%;
    max-width: 104px;
    display: block;
    height: 18px;
    margin: 5px auto;
    text-align: center;
    content: "";
    background-position: left center;
    background-position: left center;
    background-repeat: space;
}
.testimonial-top-block-custom-wrapper .technologies-block-custom-box-wrapper.owl-carousel .owl-item {
    padding: 10px !important;
}
.testimonial-top-block-custom-wrapper {
    margin-bottom: 30px;
}
a#loadMore {
    text-transform: uppercase;
    color: #322a7e;
    display: block;
    width: 100%;
    text-align: center;
    max-width: 200px;
    margin: 30px auto;
}
a#loadMore:after {
    content: "";
    background: url('../images/LOAD_MORE_BUTTON.svg');
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background-size: 100%;
    margin-top: 10px;
}
.read-more-blogs-wrapper p,
.read-more-blogs-wrapper h3 {
    color: #322a7e;
}
.read-more-blogs-wrapper h3 span {
    display: block;
    font-size: 14px;
    color: #f86060;
    font-weight: 100;
    margin-bottom: 20px;
}
.read-more-blogs-wrapper h3 {
    font-size: 27px;
    max-width: 390px;
}
.cms-media .read-more-blogs-wrapper a {
    font-size: 14px;
}
.cms-media .read-more-blogs-wrapper a:hover {
    color: #fff;
}
.cms-media .page-title-wrapper {
    color: #322a7e;
    margin: 35px 0px 15px;
}
.cms-media .slider-wrapper p {
    color: #322a7e !important;
}
.cms-media .read-more-blogs-wrapper a:after {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 10px;
    height: 14px;
    display: inline-block;
    align-items: unset;
    justify-content: unset;
    vertical-align: middle;
    margin-left: 7px;
    filter: brightness(0) invert(1);
    background-size: 8px;
}
.cms-media .wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text.center_center {
    padding-top: 110px;
}
.cms-media .wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text.center_center {
    padding-top: 110px;
}
.cms-media .wrapper-the-blue-sky-slider .nivo-directionNav a:hover, .cms-media .wrapper-the-blue-sky-slider .nivo-directionNav a{
    background: transparent;
}
.cms-media .wrapper-the-blue-sky-slider .nivo-directionNav a:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
.cms-media .wrapper-the-blue-sky-slider .nivo-directionNav a.nivo-prevNav:before {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
}
.blog-post-view .breadcrumbs .items {
    text-align: left;
    padding: 20px 15px;
    color: #322a7e;
}
.blog-post-view .breadcrumbs .items a {
    color: #322a7e;
}
.blog-post-view .breadcrumbs .items strong {
    text-decoration: underline;
}
.blog-post-view .breadcrumbs .item:not(:last-child):after {
    color: #322a7e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: 20px;
    content: '\e622';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: 600;
    speak: none;
    text-align: center;
    transform: rotate(-90deg);
}
.blog-post-view .post-view, .blog-post-view .post-bottom {
    color: #322a7e;
    margin-bottom: 20px;
}
.blog-post-view .main > .post-bottom {
    display: none;
}
.blog-post-view .post-view .post-more-infor span.label {
    color: #322a7e;
}
.blog-index-index .page-title-wrapper .page-title {
    color: #322a7e;
}
.blog-index-index .breadcrumbs a, .breadcrumbs strong {
    color: #322a7e !important;
}
.blog-index-index.page-layout-1column .column.main .post-list-wrapper {
    width: 100%;
    max-width: 980px;
    margin: 20px auto;
}
.blog-index-index a.blog_index_banner {
    width: 100%;
    max-width: 820px;
    margin: 0px auto 50px;
}
.blog-post-view .post-view a {
    color: #322a7e;
    text-decoration: underline;
}
.blog-post-view .post-view.has-thumb .blog-post-thumb {
    display: none;
}
.blog-post-view .post-view .post-text-hld {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
.post-content-header {
    background-color: #f2eadf;
    width: 100vw;
    position: relative;
    left: calc((-1 * (100vw - 100%)/2));
    padding: 5% 15px;
    margin-bottom: 40px;
}
.post-content-header .item.post-categories, .post-content-header .item.post-categories a {
    text-decoration: none;
    background: transparent;
    font-weight: 100;
    margin-bottom: 0;
}
.post-content-header h1.post-title {
    max-width: 980px;
    margin: 15px auto;
    margin-bottom: 15px !important;
    line-height: 64px !important;
}
.read-more-blogs-wrapper .media-content-right {
    padding: 3%;
    background: #e5e3ff;
    border-radius: 0px 10px 10px 0px;
}
.read-more-blogs-wrapper .media-content-img-left img {
    width: 100%;
}
.read-more-blogs-wrapper .media-content-img-left {
    padding: 0 !important;
}
.read-more-blogs-wrapper .row.media-content-item {
    margin-bottom: 40px;
}
.read-more-blogs-wrapper a {
    color: #fff;
    padding: 10px;
    float: left;
    background-color: transparent;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;
}
ul.footer-contents.technologies_menu li {
    width: 50%;
    text-align: center;
    margin-top: 37px;
}
.technologies_menu {
    display: flex;
}
.technologies_menu li {
    width: 20%;
    margin-left:20px;
    margin-top: 30px;
}
footer.page-footer ul li {
    list-style: none;
    font-size: 14px;
    line-height: 36px;
}
.footer-static_link.flex-layout.space-between {
    display: block;
}
.custom_footer_bottom {
    display: inline-block;
    clear: both;
    width: 100%;
}
.custom_footer_bottom {
    display: inline-block;
    clear: both;
    width: 100%;
}
#magelearn-customform-form label.label span {
    color: #fff;
    font-size:14px;
}
#magelearn-customform-form .fieldset > .field {
    margin: 0px 0px 5px 0px;
}
#magelearn-customform-form .control input {
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: solid 1px #fff;
}
#magelearn-customform-form .fieldset > .field:last-child {
}
#magelearn-customform-form .control textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    height: 60px;
}
#magelearn-customform-form  legend.legend {
    display: none;
}
#magelearn-customform-form  label.label {
    display: none;
}
#magelearn-customform-form .control input::placeholder {
    color: #fff;
    font-size: 14px;
}
#magelearn-customform-form .note {
    display: none;
}
h3.footer_form_heading {
    margin-top: 0px;
}
h3.footer_form_heading {
    margin-top: 0px;
}
#magelearn-customform-form button.submit {
    background: url(../images/button.png);
    padding: 13px 28px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 100;
    border: 0;
}
#magelearn-customform-form button.submit:hover {
    background: url(../images/button1.png) !important;
    background-size: 100%  !important;
    background-repeat: no-repeat;
    border: 0 !important;
}
.blog-index-index .post-list-wrapper .blog-post-info .post-read-more.btn:hover {
    color: #EF4F4F;
}
.footer_form {
    position: relative;
}
.contact-us-bar-inner span.bar-text:hover {
    color: #f86060;
}
h3.footer_form_heading:after {
    background: url(../images/FILLED_STAR.svg);
    content: "";
    margin-left: 10px;
    position: absolute;
    width: 100%;
    max-width: 20px;
    display: inline-block;
    height: 20px;
    fill: #fff !important;
    background-size: 20px;
    filter: brightness(0) invert(1);
    background-repeat: no-repeat;
}
footer.page-footer .footer.content ul.social-link li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px !important;
}
footer.page-footer .footer.content ul.social-link li a:hover span:before {
    color: #f86478;
}
.cms-media .page-title-wrapper p {
    margin: 0;
}
.footer-payment ul li span {
    color: #fff;
    font-size: 20px;
}
.footer_bottom_menu {display: flex;}
.footer_bottom_menu li {
    padding: 0px 10px;
    margin: 10px;
}
.footer-bottom span {
    font-size: 14px;
}
.page-footer .footer.content ul li a {
    color: #fff !important;
}
.page-footer .footer.content ul li a:hover {
    color: red !important;
}
footer.page-footer a:hover {
    color: red !important;
}
.modals-wrapper .see-detail-modal-video.modal-popup._inner-scroll .modal-inner-wrap .modal-content {
    padding: 0;
}
.modals-wrapper .see-detail-modal-video.modal-popup._inner-scroll .modal-inner-wrap footer.modal-footer,
.modals-wrapper .see-detail-modal-video.modal-popup._inner-scroll .modal-inner-wrap button.action-close {
    display: none;
}
.mattress-care-bottom-banner.watch-video-wrapper h3 {
    font-size: 36px;
    max-width: 475px;
    margin: 20px auto;
}
.mattress-care-bottom-banner.watch-video-wrapper {
    max-height: 475px;
}
.mattress-care-bottom-banner.watch-video-wrapper h3 {
    font-size: 36px;
    max-width: 475px;
    margin: 20px auto;
}
.mattress-care-bottom-banner.watch-video-wrapper .mattress-care-bottom-banner-inner {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.mattress-care-bottom-banner.watch-video-wrapper {
    background: #f2eadf;
    padding: 7%;
}
.mattress-care-bottom-banner.watch-video-wrapper .mattress-care-bottom-banner-content {
    top: 12%;
}
.commonEnquiries-accordion a#loadMore:after {
    display: none;
}
.commonEnquiries-accordion-inner a#loadMore {
    margin: 0;
    text-align: left;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}
.commonEnquiries-accordion-inner li.faq-item {
    position: relative;
}








.sale-head-content h3 span {
    font-weight: 100;
    font-size: 17px;
    background: url('../images/sale-page/graphic-oval.svg');
    display: block;
    background-repeat: no-repeat;
    width: 153px;
    height: 67px;
    margin: 0 auto;
    line-height: 67px;
    margin-bottom: 20px;
    color: #322a7e;
}
.sale-head-content {
    text-align: center;
    margin-bottom: 20px;
}

.sale-head-content h3 {
    color: #ef4f4f;
    font-size: 36px;
    margin-bottom: 20px;
}

.sale-head-content p {
    margin: 0;
}
.sale-section.commonEnquiries-accordion-wrapper {
    float: unset;
    width: unset;
}

.sale-section.sale-main-slider-wrapper {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    background-color: #f2eadf;
    float: unset;
    width: unset;
    padding: 5% 0px;
}
.sale-main-slider-inner {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
}
.sale-section.sale-main-slider-wrapper .sale-content-left img {
    height: 356px;
    object-fit: cover;
}

.sale-main-slider-inner .sale-content-right {
    background: #fff;
    padding: 30px;
}

.sale-main-slider-inner .sale-content-left {
    padding: 0;
}
span.happening-note {
    background: #ef4f4f;
    color: #fff;
    
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 100;
    float: right;
    width: 135px;
    text-align: center;
}
.sale-main-slider-inner .sale-content-right .sale-content-right-bottom span span {
    font-weight: 600;
}
.sale-main-slider-inner .sale-content-right .sale-content-right-bottom p a span {
    font-weight: 600;
}
.sale-main-slider-inner .sale-content-right .sale-content-right-bottom a {
    text-decoration: underline;
    font-style: italic;
}
.sale-main-slider-inner .sale-content-right .sale-content-right-bottom p:nth-child(3) a {
    text-decoration: none;
    font-style: normal;
}
.huge-discount-content-right:after {
    content: "";
    background: url(../images/arrow-sale.JPG);
    width: 66px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 12%;
}
.sale-section.sale-main-slider-wrapper .sale-content-left.second-customSale img {
    height: 364px;
    object-fit: cover;
    width: 100%;
}
.huge-discount-slider p:before {
    background: url(../images/star-blue.svg);
    content: "";
    position: absolute;
    width: 100%;
    max-width: 15px;
    display: inline-block;
    height: 15px;
    fill: #fff !important;
    background-size: 15px;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}
.sale-main-slider-inner .sale-content-right h3 span.highlight-sale {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
}
.sale-main-slider-inner .sale-content-right h3 span {
    display: block;
    color: #ef4f4f;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sale-main-slider-inner .sale-content-right .sale-content-right-bottom {
    font-size: 15px;
    margin-top: 30px;
}

.sale-main-slider-inner .sale-content-right .sale-content-right-bottom p {
    display: flex;
}

.sale-main-slider-inner .sale-content-right .sale-content-right-bottom a {
    margin: 0px 10px;
}

span.fb-icon {
    background: url('../images/sale-page/facebook.svg');
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    background-size: 100%;
}
.sale-main-slider .owl-carousel .owl-nav button:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
.sale-main-slider .owl-carousel .owl-nav button{
    background: transparent !important;
}
.sale-main-slider .owl-carousel .owl-nav button.owl-prev:before {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
}
.sale-section {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    color: #322a7e;
}
.sale-section a {
    color: #322a7e;
}
.huge-discount-slider .owl-dots {
    text-align: left !important;
    margin-top: 10px !important;
}
.huge-discount-slider .owl-dots button.owl-dot {
    border-radius: 0 !important;
    width: 50px !important;
    height: 5px !important;
    border: 0 !important;
    background-color: #ccc !important;
    margin: 0 !important;
}
.huge-discount-slider .owl-dots button.owl-dot.active {
    background-color: #322a7e !important;
}
.huge-discount-content-right {
    font-weight: 600;
    font-size: 18px;
}
.huge-discount-slider p {
    font-size: 14px;
    font-weight: 100;
    padding-left: 20px;
    position: relative;
}

.sale-section.sale-bar-wrapper {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}

.sale-bar-inner span.warranty-icon {
    background: url('../images/sale-page/warranty.svg');
}

.sale-bar-inner span.free-delivery-icon {
    background: url(../images/sale-page/free-delivery.svg) bottom;
}

.sale-bar-inner span.gst-icon {
    background: url(../images/sale-page/gst-absorbed.svg);
}
div#back-top {
    border-radius: 100%;
}
div#back-top i {
    display: none;
}
div#back-top:hover {
    background: #322a7e;
}
div#back-top:before {
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    content: "";
    width: 12px;
    height: 20px;
    display: block;
    background-size: 12px;
    transform: rotate(-90deg);
    margin: 0px auto;
    margin-top: 5px;
}
div#back-top:hover:before {
    filter: brightness(0) invert(1);
}
.you-may-block-custom-box-wrapper img {
    width: 100%;
}
.you-may-block-custom-box-wrapper h2 {
    text-align: center;
    color: #322a7e;
    margin-bottom: 40px;
}
.technologies-block-box-content a:hover {
    color: #fff;
}
.sale-bar-inner span.installment-plan-icon {
    background: url(../images/sale-page/interest.svg);
}
.sale-bar.barOne span:first-child {
    width: 40px;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sale-section.sale-middle-banner-wrapper {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    float: unset;
    width: unset;
    margin-bottom: 60px;
}
.sale-middle-banner-inner {
    max-height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sale-middle-banner-inner img {transform: translate(0px, -100px);}
.sale-middle-banner-inner img {
    object-fit: cover;
    width: 100%;
}
.cms-about-us .wrapper-the-blue-sky-slider .nivo-directionNav a:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
.cms-about-us .wrapper-the-blue-sky-slider .nivo-directionNav a {
    background-color: transparent;
}
.cms-about-us .wrapper-the-blue-sky-slider .nivo-directionNav a.nivo-prevNav:before {
    transform: rotate(180deg) !important;
}
.sale-middle-banner-content {
    position: absolute;
    top: 25%;
    padding: 5%;
}
.sale-middle-banner-content h3 {
    font-size: 36px;
    max-width: 520px;
    font-weight: 100;
}
.sale-middle-banner-content a {
    color: #fff;
    padding: 10px;
    float: left;
    background-color: transparent;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    font-weight: 400;
    font-size: 14px;
    font-size: 14px;
    font-weight: 100;
}
span.nav-toggle:before {
    color: #322a7e;
}
.testimonial-index-index .add-more-testimonial a.action.submit.primary, .testimonial-index-index .add-more-testimonial a.action.submit.primary:hover {
    color: #fff;
    padding: 10px !important;
    border: 0;
    background: url(../images/BUTTON_SHORT.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-position: 0;
    font-weight: 100;
    font-size: 14px;
    bottom: 20px;
    top: 0;
    border: 0 !important;
    position: relative;
    width: 100%;
    max-width: 124px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
header.page-header {
    z-index: 9;
}
.navigation:not(.mobile-style) li.level0.classic .subchildmenu .level1 ul.subchildmenu.subchildmenu-col-2 {
    left: 370px !important;
}
a.view-all-menu {
    position: absolute;
    text-decoration: underline;
    bottom: 0;
    right: 0;
    font-size: 12px;
}
.level0.submenu.custom-submenu ul.subchildmenu .level1:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.level0.submenu.custom-submenu ul.subchildmenu.subchildmenu-main:after {
    content: "";
    width: 1px;
    height: 300px;
    border-right: 1px solid #eee;
    position: absolute;
    left: 99%;
    top: 0;
}
.navigation:not(.mobile-style) li.level0.classic .subchildmenu a:hover > span, .navigation:not(.mobile-style) li.level0.classic .subchildmenu a:hover {
    font-weight: 600 !important;
    color: #322a7e !important;
}

.award-slider-custom-wrapper .owl-carousel .owl-nav button:before {
    content: "";
    background: url(../images/ARROW_BLUE.svg) no-repeat;
    background-color: transparent;
    transform: unset !important;
    width: 36px;
    height: 36px;
    display: block;
    align-items: unset;
    justify-content: unset;
    background-size: 36px 36px;
}
.award-slider-custom-wrapper .owl-carousel .owl-nav button{
    background: transparent !important;
}
.award-slider-custom-wrapper .owl-carousel .owl-nav button.owl-prev:before {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
}
.award-slider-custom-wrapper .owl-carousel .owl-nav button.owl-prev{
    left: 40px !important;
}
.award-slider-custom-wrapper .owl-carousel .owl-nav button.owl-next {
    right: 40px !important;
}
.contact-page-subscribe-wrapper {
    float: left;
    width: 100%;
}
.cms-technologies .technologies-banner-content a {
    border: 0;
    background: url(../images/button.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.cms-technologies .technologies-banner-content a:hover {
    border: 0;
    background: url(../images/button1.png);
    background-size: 100%;
    color: #fff;
}
.store-card-item-img-text {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.box-section .box-bdp3 button.action.submit.primary {
    border: 0;
    background: url(../images/BUTTON_SHORT.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    background-color: transparent;
    padding: 20px 20px;
}
.box-section .box-bdp3 button.action.submit.primary:hover {
    border: 0 !important;
    background: url(../images/button1.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: 0 !important;
    background-color: transparent !important;
    padding: 20px 20px !important;
}
.cms-product-overview .you-may-block-custom-box-wrapper {
    margin: 40px 0px;
    float: left;
    width: 100%;
}
.cms-product-overview .you-may-block-custom-box-wrapper .technologies-block-box-content span {
    color: #260081;
    max-width: 270px;
}
.cms-product-overview .you-may-block-custom-box-wrapper img {
    border-radius: 10px;
    max-height: 379px;
    object-fit: cover;
}
.cms-product-overview .technologies-block-box-content a:hover {
    background: url(../images/button1.png);
    padding: 10px 10px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.cms-product-overview .box-section.twonth .box.box-2half .box-content .detail {
    padding-left: 10%;
}
.box.box-2half .box-content .detail {
    padding: 0px 30px;
}
@media only screen and (min-width: 767px) {
    .cms-product-overview .box-section.twonth .box.box-2half .box-content .detail {
        padding-left: 10%;
    }
    .subchildmenu-wrapper-custom .parent .subchildmenu {
        padding-top: 0 !important;
        top: 0;
        max-width: 170px !important;
        width: 170px !important;
    }
    .level0.submenu.custom-submenu ul.subchildmenu {
        height: 330px;
    }
    .testimonial-top-block-custom-wrapper .pt-testimonial:first-child {
        margin-left: 165px;
        margin-right: -135px;
    }
    .testimonial-index-index .page-main {
        background: url(../images/LINE.svg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 310px;
    }
    .catalog-category-view header.page-header.banner-image {
        border-bottom: unset;
        position: unset;
        left: 0;
        right: 0;
    }
    .cms-index-index .full-width.banner-middle:after {
        content: "";
        background: url(../images/graphic-line.svg);
        position: absolute;
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-position: 0 0;
        z-index: 3;
        float: left;
        display: block;
        top: -70%;
        left: -16%;
        background-size: 400px;
    }
    .cms-index-index .full-width.banner-middle .container-fluid {
        position: relative;
        z-index: 4;
    }
    .tab1-content-right {
        padding-left: 3%;
    }
}
@media only screen and (max-width: 767px) {
    .box.box-2half .box-content .detail, .box.box-2half .box-content .figure {
        flex-basis: unset !important;
        width: 100% !important;
    }
    .box.box-bdp3 .box-content {
        flex-direction: unset !important;
        display: block !important;
    }
    .nav-toggle:hover:before {
        color: #322a7e !important;
    }
    a.view-all-menu {
        display: none !important;
    }
    .footer-static_link.flex-layout.space-between {
        padding: 0px 20px;
        text-align: center;
    }
    .col-md-3.footer_form {
        margin-top: 40px;
    }
    .technologies-wrapper h2 {
        font-size: 22px;
    }
    .technologies-block-custom-box-wrapper, .technologies-wrapper h3 {
        display: none !important;
    }
    .mattress-care-wrapper {
        font-size: 14px;
    }
    .cms-mattress-care .page-title-wrapper h1, .cms-mattress-care h3 {
        font-size: 20px;
    }
    .cms-mattress-care tbody.mattress-care-boxes-wrapper td {
        width: 50% !important;
    }
    .cms-mattress-care .mattress-care-box-content {
        padding: 10px;
        font-size: 10px;
    }
    .mattress-care-bottom-banner {
        max-height: unset;
        transform: unset;
        overflow: visible;
    }
    .mattress-care-bottom-banner-content {
        top: 0;
    }

    .mattress-care-bottom-banner img {
        transform: unset;
    }

    .mattress-care-bottom-banner-content h3 {
        font-size: 20px;
    }

    .mattress-care-bottom-banner-content a {
        font-size: 15px;
    }
    .faq-custom-bottom-banner {
        max-height: 161px;
    }
    .faq-custom-bottom-banner-content {
        top: 10px;
    }
    .faq-block-custom-box {
        margin-bottom: 10px;
    }
    div.page-aboutus:after {
        display: none;
    }
    .banner-about-top.absolute-content .content h1 {
        text-align: center;
    }
    .cms-index-index .banner-about-top.absolute-content {
        height: 160px;
        background-position: -730px;
    }
    .cms-index-index .banner-about-top.absolute-content .content {
        padding: 0;
        text-align: center;
    }
    .page-aboutus .box-text.thcolor.txt-lg {
        margin-top: 10px !important;
    }
    .page-aboutus .txt-lg p {
        font-size: 14px;
    }
    .commonEnquiries-accordion {
        margin-top: 20px;
    }
    .contact-us-bar {
        margin-bottom: 15px;
    }
    .tab1-content-left img {
        width: 100%;
    }
    div.store-locator-tab-wrapper h2 {
        font-size: 19px;
    }
    div.tab1-content-right h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    div#fourstar-tab2 div.store-card-item-wrapper {
        width: 100%;
    }
    .dealers-section-wrapper-locator div.dealer-icon {
        width: 44%;
    }
    .blog-index-index .post-list-wrapper .blog-list-post li.item-post-full {
        width: 100%;
    }
    .blog-index-index .post-list-wrapper ul.blog-list-post {
        margin-left: 0;
        margin-right: 0;
    }
    .storelocator-index-index div.store_locator_banner-text p {
        font-size: 18px;
    }
}