// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 3.6rem 2rem;
@content_banner_center_padding: 1.5rem;

// Custom banner
@banner__content_left_padding: 1.8rem 1.5rem 1.5rem 1.3rem; 
@headerpadding: 10px; // Make header height bigger than menu height
// Control (dot)
@nivo-controlNav-veritcal-postion: 30px;
@nivo-controlNav-postion: center; 
@slider_h2_font-size-l: 32px;

@tabcolor: #999999;
@tabactive: @heading__color__base;

& when (@media-common = true) {
	.header-container{
		&.layout-7{
			color: @heading__color__base;
			.lib-font-size(14);
			&.sticky {
				.header-middle {
					@media only screen and (min-width: @screen__l){
						.logo-container {
							display: none;
						}
					}
					@media only screen and (max-width: (@screen__l - 1)){
						.col-left {
							display: none;  
						}
					}
				}
			}
			.header-middle{
				.col-left,.col-right {
					flex: 1; 
				}
				.col-left {
					> * {
						margin-left: 3rem;
						&:first-child {
							margin-left: 0;
						}
					}
					@media only screen and (max-width: (@screen__l - 1)){
						width: 100%;
						justify-content: center;
						border-bottom: 1px solid @border-color__base;
						.lib-css(padding-bottom, @headerpadding);
						.lib-css(margin-bottom, @headerpadding);
						order: -2;
						flex: none;
					}
					@media only screen and (max-width: (@screen__xs - 1)){
						flex-direction: column-reverse; 
					}
				}
				.col-action ul{
					justify-content: flex-end;
				}
				.col-centter{
					.flex();
					align-items: center;
					@media only screen and (min-width: @screen__l){
						flex-direction: column;
						.logo-container{
							margin-top: 1.3rem;  
							margin-bottom: 1rem;
						}
					}
					@media only screen and (max-width: (@screen__l - 1)){
						flex: 2;
   						flex-direction: row-reverse;
   						.logo-container,
   						.primary-menu-container {
   							flex: 1;
   						}
   						.logo-container{
							justify-content: center;
						}
					}
		
				}
			}
		}
		
	} 
	
	//slideshow
	.wrapper-the-blue-sky-slider {
		margin-bottom: 0 !important;
		.container-the-blue-sky-slider {
			overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius); 
					line-height: 1;
				}
			}
		} 
	}

	//shipping-static
	.shipping-static{
		background: #f8f5ec;
		padding: 4rem 0 1rem 0;
		margin-bottom: 3rem;
		.shipping-support {
			.col-auto:not(:last-child) {
			    margin-bottom: 0;
			}
			.col-content {
				margin-bottom: 3rem;
				.icon{
					margin-right: 1.8rem;
				}
				.content{
					padding: 0;
					text-align: left;
					@media (min-width: @screen__m) and (max-width: (@screen__l - 1)){
						width: 100%;
						margin-top: 10px;
					}
					h6{
						margin-bottom: 1rem;   
					}
				}
			}
			
		}
	}
	//banner/
	.banner{
		.col-banner {
			&.absolute-content-image {
				.content {
					h5:not(.margin_0){ 
						margin-bottom: 7px;  
					} 
					@media (min-width: @screen__s) and (max-width: (@screen__m - 1)){
						p:not(.margin_0) {
							margin: 0;
						}
					}
				}
			}			
		}
	}
	//banner
	.lazyload-image{
		.banner.skincare-bottom .banner-img img[data-src]{
			padding-top:35.9895833333%;
		}
	}
	.banner {
		&.skincare-bottom {
			.col-banner {
				&.absolute-content-image {
					.content {
						.banner-content {
							width: 50%;
							@media only screen and (min-width: @screen__l){
								width: 40%;
							}
							@media only screen and (max-width: (@screen__xs - 1)){
								width: 70%;
							}
							h2{
								line-height: 1;
							}
							h5:not(.margin_0) {
								margin-bottom: 3rem;
							}
							.btn{
								margin-top: 1.5rem;
								&:not(:hover){
									background: none;
								}
								&:hover a{
									color: @color-white!important;
								}
								
							}
						}
					}
				}			
			}
			&:hover {
				.banner-content > * {
					&:nth-child(1) {
						@animation:  fadeInDown 0.7s linear alternate;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					&:nth-child(2) {
						@animation: fadeInRight 0.7s linear alternate;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					&:nth-child(3) {
						@animation: zoomIn 0.7s linear alternate;
						.lib-css(animation, @animation, @_prefix: 1);
					}
				}
			}
		}
	}
	//Instagram//
	.section.position-bottom {
		background: #f8f5ec;
		.lib-css(padding-bottom, @margin_gobal_value); 
	}
	.rokantheme-instagram{
		.rokan-title{
			display: none;
		}
		
	}
	//brand
	.block-widget-rokanthemes-brand{ 
		&:after{
			display: none;  
		}
		
	}
	//newletter
	.block.newsletter input {
		background: transparent;
	}
	.cms-index-index .page-footer{ 
		margin-top: 0;
	}
}
