// Custom banner
@content_banner_padding: 2rem 2.5rem;
@banner__content_left_padding: 1.5rem 7%;
@content_banner_center_padding: 2.5rem;
@topbarbg: @color-white; 
//footer
@footer__background-color: @color-white; 
@footercolor: #666666;
@footer-bottom_bg: @color-white;

@footer-title-color: #222222;
@footer-border-color: #e5e5e5;
@social_link-color:@footer-title-color;

& when (@media-common = true) {
	//slideshow
	.wrapper-the-blue-sky-slider {
		> div {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			max-width: 1860px;
			margin: auto;
			@media only screen and (min-width: @screen__l){
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
		.container-the-blue-sky-slider {
			 overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius);
					line-height: 1; 
				}
			}
		} 
	}
	.lazyload-image{
		.banner.banner-middle .banner-img img[data-src]{
			padding-top: 48.5893416928%;  
		}
		.banner.fashion-bottom .banner-img img[data-src]{
			padding-top: 38.3614088821%;   
		}
	}
	//banner
	.banner.fashion-middle{
		.col-banner {
			&.absolute-content-image { 
				.content {
					text-align: center;
					h5:not(.margin_0){ 
						margin-bottom: 0.5rem;  
					}
					h4:not(.margin_0){ 
						margin: 1rem 0;    
					}
					p:not(.margin_0){ 
						margin-bottom: 2rem;  
					}
					.btn {
						padding: 11.5px 20px;
					}
					&.col-middle{
						h5:not(.margin_0){ 
							margin-bottom: 2.5rem;  
						}
						h4:not(.margin_0){ 
							margin-bottom: 0;  
						}
					}
				}
			}
		}
	}
	.banner {
		&.fashion-bottom {
			.col-banner {
				&.absolute-content-image {
					.content {
						.banner-content {
							h5:not(.margin_0) {
								margin: 0 0 3rem 0px; 
							}
							h2 {
								line-height: 1;
							}
							.button-wrap {
								margin-top: 4rem;
								a {
									border: none;
									margin: 0;
									&:after {
										opacity: 1;	 				
									}
									
								}
							}
						}
					}
				}			
			}
		}
	}
	.banner{
		.fashion-top  {
			.col-banner{
				@media (min-width: @screen__xs) {
					margin-bottom: 0 !important;
				}
				&.absolute-content-image .content .button-wrap {
					margin-top: 0.5rem;
					a:not(.btn) {
						border: none;
					}
				}
			}
			@media (min-width: @screen__xs) and (max-width: (@screen__s - 1)){
			    display: grid;
			    grid-template-columns: repeat(2, 1fr);
				grid-gap: 1.5rem;
				.col-banner {
					&:nth-child(1) {
						grid-column: ~"1/3";
					}
					&:nth-child(5) {
						grid-row: ~"2/3";   
					}
				}
			}
			@media (min-width: @screen__s) and (max-width: (@screen__m - 1)){
			    display: grid;
			    grid-template-columns: repeat(2, 1fr);
				grid-gap: 1.5rem; 
				.col-banner {
					&:nth-child(1) {
						grid-column: ~"1/2"; 
						grid-row: ~"1/3";   
					}
					&:nth-child(5) {
						grid-row: ~"2/3";
					}
				}
			}
		}
	}
	//footer
	.page-footer {
		border-top: 1px solid @footer-border-color;
	}
	//protduct-tab
	//product-tab
	.wrapper_product_tabs {
		.products-grid{ 
			.product-items{	
				.product-item{
					.product-item-details{
						.product-reviews-summary {
							display: none;
						}
					}
				}
			}
		}
		.products.wrapper.list{
			.product-items{
				.product-item {
					&:not(:last-of-type) {
						margin-bottom: 3rem;
					}
					.product-item-info{
						padding: 0;
						.product-item-inner {
							@media only screen and (min-width: @screen__l) {
								padding-right: 3rem;
							}
						}
					}
					.product-item-details{
						.categoires-by-product-id {
							display: none;
						}
						.product-reviews-summary {
							display: block;
						}
					}
					.product-label {
						display: none;
					}
				} 				
			} 
		} 
	}
	//product-list
	.product-list{
		.section{
			.rokan-title{
				.module-title{
					.lib-font-size(24); 
					text-align: left;
				}
			}
			
		} 
	}
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	//banner
	.banner{
	    .fashion-top {
			display: grid;
			grid-template-columns: repeat(120, 1fr);
	        .col-banner  {
	            &:nth-child(1) {
	                grid-column: ~"1/44";
	                grid-row: ~"1/59";
	            }
	            &:nth-child(2) {
	                grid-column: ~"46/86";
	                grid-row: ~"1/29";
	               
	            }
	            &:nth-child(3) {
	                grid-column: ~"88/121";
	                grid-row: ~"1/29"; 
	            }
	            &:nth-child(4) {
	                grid-column: ~"46/79";
	                grid-row: ~"31/59";
	            }
	            &:nth-child(5) {
	                grid-column: ~"81/121";
	                grid-row: ~"31/59"; 
	            }
			}
		}
}

}