/* Custom Theme 2021-09-01 12:07:29: Do not change this file. */

/* Page Width */

/* Body Font */
body {
		font-size: 16px; 
			font-weight: 400; 
			font-family: Mark Pro, sans-serif;
	}
button, .cart.table-wrapper .actions-toolbar > .action, .action-gift,
.action.primary, .action-primary, .btn,{
		font-family: Mark Pro, sans-serif;
	}
/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6,
.block-widget-rokanthemes-brand .brand-item .brand-name,
.rokanthemes-onepagecheckout .step-title,
.rokanthemes-onepagecheckout #opc-sidebar .title,
.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .table-totals,
.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li a,
.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li a,
.super-deal-banner-content .super-deal-countdown .time_circles .number,
.super-deal .super-deal-banner-content .super-deal-countdown .number,
.super-deal-banner .super-deal-banner-content .super-deal-countdown .number,
.super-deal .item-deal-product .info-price-deal label,
.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
.wrapper_sub_category_tabs.onlyparent .list-category-item .category-item a .cate-name.cate-count,
.customer-account-create .form-create-account .fieldset:not(.additional_info) .legend,
.customer-account-forgotpassword .forget .fieldset:not(.additional_info) .legend,
.filter-options .filter-options-title, .sidebar .block .filter-options-title, 
.filter-options .block-title:not(.filter-title) strong, 
.sidebar .block .block-title:not(.filter-title) strong{ 
		font-family: Mark Pro, sans-serif;
	}
	/* Heading Font Weight*/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.rokanthemes-onepagecheckout .step-title,
	.rokanthemes-onepagecheckout #opc-sidebar .title,
	.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .items-in-cart .title,
	.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .table-totals,
	.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .table-totals .mark,
	.super-deal .super-deal-banner-content .super-deal-countdown .number,
	.super-deal .item-deal-product .info-price-deal label,
	.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
	.super-deal-banner .super-deal-banner-content .super-deal-countdown .number,
	.super-deal .item-deal-product .info-price-deal label,
	.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
	.customer-account-create .form-create-account .fieldset:not(.additional_info) .legend,
	.customer-account-forgotpassword .forget .fieldset:not(.additional_info) .legend,
	.modal-popup .modal-title,
	.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price,
	b, strong,
	.cart-totals .grand .amount strong, .opc-block-summary .table-totals .grand .amount strong,
	.cart-totals .grand .amount strong, .opc-block-summary .table-totals .grand .amount strong,
	.price-including-tax .price, .price-excluding-tax .price,
	.minicart-items .product-item-details .price,
	.block-minicart .amount .price-wrapper:first-child .price,
	.searchsuite-autocomplete ul li .qs-option-info .qs-option-price,
	th {
		font-weight: 700; 
	}
/* Menu Font */
.navigation.custommenu li.level0 .level-top,
.navigation li.level0.parent .submenu .mega-columns .level1.parent > a,
.verticalmenu.navigation .list-category-dropdown li.level0 > .submenu .title-cat-mega-menu span,
.verticalmenu.navigation .list-category-dropdown li.level0.classic .parent .subchildmenu .title-cat-mega-menu span,
.verticalmenu.navigation li.level0 > a{
		font-family: Mark Pro, sans-serif;
	}
/* Menu Font Weight*/
.navigation.custommenu li.level0 .level-top,
.navigation li.level0.parent .submenu .mega-columns .level1.parent > a{
		font-weight: 700; 
	}

/* Basic Color */
	/* Heading Color */
		/* Primary color */
		/* Text color */
	

/* Link color */
	/* Link color */
		/* Link hover color */
	
/* Button color */
	/* Button color */
		/* Button background color */
		/* Button hover color */
		/* Button hover background color */
	








/* Footer */
	/* Footer background */
		/* Footer background image */
		/* Footer text color */
		/* Footer title color */
		/* Footer bottom background color */
		/* Footer bottom color */
	

/* Newsletter popup */
	#newsletter_pop_up{
	width: 800px;height: 372px;background-color: #F4F4F4;color: #222222;	}
	#newsletter_pop_up .col-newsletter-popup{ 
		background-image: url(http://azexchangeclub.com/ohey_243/media/rokanthemes/newsletter/background/default/newsletter_3.jpg); background-size: cover; background-position: center;	}
.block-newsletter-form{       
	background-image: url(http://azexchangeclub.com/ohey_243/media/rokanthemes/newsletterformbackground/stores/15/bg-bn.jpg); background-repeat: no-repeat; background-size: cover; color: #fff; background-attachment: fixed; background-position: center;}