// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 2rem 1.4rem;

// Custom banner
@banner__content_left_padding: 1rem 0 1.8rem 4.4rem; 
@content_banner_center_padding: false;

@topbarbg: @heading__color__base;  
@topbarcolor: @color-white;


@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__active__color: @color-white; 
@submenu-desktop-item__hover__color: @theme__color__primary;
@submenu-desktop-item__color: @heading__color__base;

@header__background-color: @heading__color__base;
@header_sticky_bg: @heading__color__base;

@header-icons-color: @color-white;	
@header_sticky_border: false;



@headerpadding: 10px; // Make header height bigger than menu height
// Control (dot)
@nivo-controlNav-veritcal-postion: 30px;
@nivo-controlNav-postion: center; 
// Control (dot)
@nivo-controlNav-bg: transparent;
@nivo-controlNav-active-bg: @color-white;
@slider_h2_font-size-l: 32px;

@tabcolor: #999999;
@tabactive: @heading__color__base;

& when (@media-common = true) {

	//slideshow
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius); 
					line-height: 1;
				}
				.container a.btn {
					&:not(:hover){
						border-color: @color-white;
					}
					
				}	 
			}
		} 
	}

	//banner
	.banner{
		&.skincare-top{ 
			.col-banner {
				&.absolute-content-image.left.top {
					.content {
						p:not(.margin_0){ 
							margin-top: 2.3rem;  
						}
						.button-wrap{
							margin-top: 7px;
						}
					}
					.range{
						padding: 2rem 3rem;
					}
				}
				&.left.center{
					margin-bottom: 3rem !important;
					p:not(.margin_0){ 
						margin-top: 1.5rem;  
					}
				}
			}
		}
	}


	.banner.skincare-middle{
	
		.col-banner {
			&.absolute-content-image {
				.content {
					
					h5:not(.margin_0){ 
						margin: 0;  
					}
					h4:not(.margin_0){ 
						margin: 1rem 0;
					}
					p:not(.margin_0){ 
						margin: 5px 0 20px 0; 
					}
				}
			}			
		}
		.col-middle{
			.col-banner {
				&.absolute-content-image {
					.content {
						.btn {
							margin-top: 2.6rem;  
						}
					}
				}			
			}
		}
		.content {
			text-align: center;
		}
	}
	//Instagram//
	.section.position-bottom {
		background: #f8f5ec;
		.lib-css(padding-bottom, @margin_gobal_value); 
	}
	.rokantheme-instagram{
		.rokan-title{
			display: none;
		}
	}
	//brand
	.block-widget-rokanthemes-brand{
		&:after{
			display: none;
		}
		
	}
	//newletter
	.block.newsletter input {
		background: transparent;
	}
	.cms-index-index .page-footer{ 
		margin-top: 0;
	}
}
