
/**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

////  Variables
//  _____________________________________________

@minicart__border-color: @border-color__base;
@minicart__padding-horizontal: 3rem; 

@minicart-qty__height: 24px; 
//  Common
//  _____________________________________________

// Layout style
//  _____________________________________________
& when (@media-common = true) {
	//animation
	@-webkit-keyframes drop{
		0%{
			opacity:0;
			-moz-transform:translateY(-10px);
			-ms-transform:translateY(-10px);
			-webkit-transform:translateY(-10px);
			transform:translateY(-10px)
		}
		100%{
			opacity:1;
			-moz-transform:translateY(0);
			-ms-transform:translateY(0);
			-webkit-transform:translateY(0);
			transform:translateY(0)
		}
	}
	@keyframes drop{
		0%{
			opacity:0;
			-moz-transform:translateY(-10px);
			-ms-transform:translateY(-10px);
			-webkit-transform:translateY(-10px);
			transform:translateY(-10px)
		}
		100%{
			opacity:1;
			-moz-transform:translateY(0);
			-ms-transform:translateY(0);
			-webkit-transform:translateY(0);
			transform:translateY(0)
		}
	} 
	@-webkit-keyframes prdmove{
		0%{
			-moz-transform:scale(1) translateX(0);
			-ms-transform:scale(1) translateX(0);
			-webkit-transform:scale(1) translateX(0);
			transform:scale(1) translateX(0)
		}
		25%{
			-moz-transform:scale(1.25) translateX(0);
			-ms-transform:scale(1.25) translateX(0);
			-webkit-transform:scale(1.25) translateX(0);
			transform:scale(1.25) translateX(0)
		}
		50%{
			-moz-transform:scale(1.25) translateX(30px);
			-ms-transform:scale(1.25) translateX(30px);
			-webkit-transform:scale(1.25) translateX(30px);
			transform:scale(1.25) translateX(30px)
		}
		75%{
			-moz-transform:scale(1.25) translateX(-30px);
			-ms-transform:scale(1.25) translateX(-30px);
			-webkit-transform:scale(1.25) translateX(-30px);
			transform:scale(1.25) translateX(-30px)
		}
		100%{
			-moz-transform:scale(1) translateX(0);
			-ms-transform:scale(1) translateX(0);
			-webkit-transform:scale(1) translateX(0);
			transform:scale(1) translateX(0)
		}
	}
	@keyframes prdmove{
		0%{
			-moz-transform:scale(1) translateX(0);
			-ms-transform:scale(1) translateX(0);
			-webkit-transform:scale(1) translateX(0);
			transform:scale(1) translateX(0)
		}
		25%{
			-moz-transform:scale(1.25) translateX(0);
			-ms-transform:scale(1.25) translateX(0);
			-webkit-transform:scale(1.25) translateX(0);
			transform:scale(1.25) translateX(0)
		}
		50%{
			-moz-transform:scale(1.25) translateX(30px);
			-ms-transform:scale(1.25) translateX(30px);
			-webkit-transform:scale(1.25) translateX(30px);
			transform:scale(1.25) translateX(30px)
		}
		75%{
			-moz-transform:scale(1.25) translateX(-30px);
			-ms-transform:scale(1.25) translateX(-30px);
			-webkit-transform:scale(1.25) translateX(-30px);
			transform:scale(1.25) translateX(-30px)
		}
		100%{
			-moz-transform:scale(1) translateX(0);
			-ms-transform:scale(1) translateX(0);
			-webkit-transform:scale(1) translateX(0);
			transform:scale(1) translateX(0)
		}
	}
	@-webkit-keyframes passing{
		0%{
			-webkit-transform:translateX(-50%);
			transform:translateX(-50%);
			opacity:0
		}
		50%{
			-webkit-transform:translateX(0%);
			transform:translateX(0%);
			opacity:1
		}
		100%{
			-webkit-transform:translateX(50%);
			transform:translateX(50%);
			opacity:0
		}
	}
	@keyframes passing{
		0%{
			-webkit-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
			transform:translateX(-50%);
			opacity:0
		}
		50%{
			-webkit-transform:translateX(0%);
			-ms-transform:translateX(0%);
			transform:translateX(0%);
			opacity:1
		}
		100%{
			-webkit-transform:translateX(50%);
			-ms-transform:translateX(50%);
			transform:translateX(50%);
			opacity:0
		}
	}

	.columns {
		.column.main{
			padding-bottom: 0;
			.block{
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
	.wrapper-the-blue-sky-slider .nivo-controlNav{
		padding-left: @layout-indent__width;
		padding-right: @layout-indent__width;
	}
	.container-min{
		max-width: 1430px;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	body{
		.container, 
		.container-sm, 
		.container-md, 
		.container-lg, 
		.container-xl,
		.wrapper-the-blue-sky-slider .nivo-controlNav,
		.js-marquee-wrapper{
			max-width: @layout__max-width;
		}
	}
	.no-wrap-desktop{
		flex-wrap: nowrap;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.page-main,
	.page-header .header.panel,
	.footer.content,
	.container, 
	.container-sm, 
	.container-md, 
	.container-lg, 
	.container-xl,
	.sticky .sticky-header > div,
	.wrapper-the-blue-sky-slider .nivo-controlNav,
	.js-marquee-wrapper,
	.breadcrumbs .items{
		width: 95% !important;
		margin-left: auto;
		margin-right: auto;
	}
}
// End layout style

// Minxin style
// _______________________________________________

& when (@media-common = true) {
	//Mixin variables
	select{
		.lib-css(color, @text__color);
		-webkit-appearance: none;
	    appearance: none;
	    background-image: url(../images/icon_select_update.png);
	    background-repeat: no-repeat;
	    background-position: right 10px center;
	    padding-right: 3rem !important;
	}
	.btn{
		&.small{
			.small_button_padding();
		}
	}
	.action.primary, 
	.action-primary{
		.lib-css(line-height, @button__line-height);
	}
	.flex-layout{
		.flex();
		&.center{
			.flex-center();
		}
		&.column{
			flex-direction: column;
		}
		&.no-wrap{
			flex-wrap: nowrap;
		}
	}
	.transition{
		.transition();
	}
	.hozital-menu{
		ul{
			.lib-list-reset-styles();
			margin-bottom: 0;
			li{
				display: inline-flex;
				line-height: 1;
				margin: 0;
				&:not(:first-child){
					padding-left: 2rem;
				}
				&:not(:last-child){
					padding-right: 2rem;
					.lib-css(border-right, @border-width__base solid);
				}
			}
		}
	}
	.uppercase{
		text-transform: uppercase;
	}
	.color_primary{
		color: @theme__color__primary
	}
	.grey{
		.lib-css(color, @greycolor);
	}
	.space-between{
		.space-between();
	}
	.space-around{
		justify-content: space-around;
	}
	.center_hozital{
  		justify-content: center;
	}
	.center_vertical{
		align-items: center;
	}
	.size-0{
		.lib-font-size(0);
	}
	.size-13{
		.lib-font-size(13);
	}
	.size-14{
		.lib-font-size(14);
	}
	.size-15{
		.lib-font-size(15);
	}
	.size-16{
		.lib-font-size(16);
		@media (max-width: @screen__xl) and (min-width: @screen__m){
			&.get-size-vw{
				.get-vw-xl(font-size, 16);
			}
		}
	}
	.size-18{
		.lib-font-size(18);
		margin-bottom: calc(@indent__base - 7px);
		@media (max-width: @screen__xl) and (min-width: @screen__m){
			&.get-size-vw{
				.get-vw-xl(font-size, 18);
			}
		}
	}
	.size-20{
		.lib-font-size(20);
		@media (max-width: @screen__xl) and (min-width: @screen__m){
			&.get-size-vw{
				.get-vw-xl(font-size, 20);
			}
		}
	}
	.size-22{
		.lib-font-size(22);
		@media (max-width: @screen__xl) and (min-width: @screen__m){
			&.get-size-vw{
				.get-vw-xl(font-size, 22);
			}
		}
	}
	
	@media only screen and (max-width: 1366px){
		.hidden-xl{
			display: none !important;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		.lib-css(letter-spacing, @heading_letter_spacing); 
	}

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.size-24{
		.lib-font-size(24);
	}
	.size-26{
		.lib-font-size(26);
	}
	.size-28{
		.lib-font-size(28);
	}
	.size-30{
		.lib-font-size(30);
	}
	.size-32{
		.lib-font-size(32);
	}
	.size-36{
		.lib-font-size(36);
	}
	.size-38{
		.lib-font-size(38);
	}
	.size-40{
		.lib-font-size(40);
	}
	.size-44{
		.lib-font-size(44);
	}
	.size-46{
		.lib-font-size(46); 
	}
	.size-48{
		.lib-font-size(48); 
	}
	.size-50{
		.lib-font-size(50);
	}
	.size-52{
		.lib-font-size(52);
	}
	.size-60{
		.lib-font-size(60);
	}
	.size-70{
		.lib-font-size(70);
	}
	.size-72{
		.lib-font-size(72);
	}
	.size-80{
		.lib-font-size(80);
	}
	.page-layout-2columns-right .main{
		padding-right: @layout-indent__width;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.size-24{
		.lib-font-size(20); 
	}
	.size-26{
		.lib-font-size(22);
	}
	.size-28{
		.lib-font-size(24);
	}
	.size-30{
		.lib-font-size(26);
	}
	.size-32{
		.lib-font-size(28); 
	}
	.size-36{
		.lib-font-size(28);
	}
	.size-38{
		.lib-font-size(30); 
	}
	.size-40{
		.lib-font-size(24);
	}
	.size-44{
		.lib-font-size(31);
	}
	.size-46{
		.lib-font-size(31);
	}
	.size-48{
		.lib-font-size(32);
	}
	.size-50{
		.lib-font-size(33);
	}
	.size-52{
		.lib-font-size(34);
	}
	.size-60{
		.lib-font-size(40);
	}
	.size-70{
		.lib-font-size(44);
	}
	.size-72{
		.lib-font-size(46);
	}
	.size-80{
		.lib-font-size(50); 
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.size-28{
		.lib-font-size(20);
	}
	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.hidden-l{
		display: none !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.hidden-sm{
		display: none !important;
	}
	.flex-layout{
		&.center-mobile{
			justify-content: center;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.hidden-xs{
		display: none !important;
	}
}
// End Mixin style
//==============================

/* Typography */
& when (@media-common = true) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		&.light{
			font-weight: @font-weight__light !important;
		}
		&.regular,
		.regular{
			font-weight: @font-weight__regular;
		}
	}
	a{
		.transition();
		&.btn, &.alink{
			&:visited{
				color: @button__color;
			}
		}
	}
	label{
		.lib-css(font-weight, @text-weight);
		color: @heading__color__base;
	}
	blockquote{
		color: @heading__color__base; 
	}
	.btn,
	.block-cart-failed .action.continue, 
	.cart-container .form-cart .action.continue {
	    .lib-button();
	    .transition();
		.lib-css(border-radius, @button__border-radius);
	   	.lib-css(text-transform, @button__text_transform);
	     &:active {
            .lib-css(box-shadow, @button__shadow, @_prefix: 1);
        }
        &.transparent{
        	background: transparent;
        	border: 2px solid;
        }
        &.light{
        	&:not(:hover){
        		background-color: @color-white;
        		color: @heading__color__base;
        	}
        }
	}
	.btn + .btn{
		margin-left: 1rem;
	}
	button, 
	.action.primary, 
	.action.secondary,
	.action.btn,
	.action-gift{
		.transition();
		.lib-css(text-transform, @button__text_transform);
		.lib-css(border-radius, @button__border-radius);
		&:active {
            .lib-css(box-shadow, @button__shadow, @_prefix: 1);
        }
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body{
		button,
		.btn,
		.action.primary,
		.block-cart-failed .action.continue, 
		.cart-container .form-cart .action.continue,
		.product-info-main .box-tocart .action.tocart, 
		.product-options-bottom .box-tocart .action.tocart,
		.cart-container .checkout-methods-items .action.primary{
			.lib-css(padding, @button_mobile_padding);
		}
	}
}
// Table style
table > tbody > tr > th, table > tfoot > tr > th, 
table > tbody > tr > td, table > tfoot > tr > td{
	vertical-align: middle;
}
// Gobal style
& when (@media-common = true) {
	section,
	.section,
	.product.info.detailed,
	.block.related, .block.upsell{
		.margin_gobal_value();
		.margin_gobal_value_mobile();
		&.full-width{
			width: 100vw;
			position: relative;
			left: calc(~'(-1 * (100vw - 100%)/2)');
		}
		.block-static-block.widget, 
		.block-cms-link.widget{
			margin-bottom: 0;
		}
	}
	section,
	.section{
		.products{
			margin: 0;
		}
		&.container_horizontal_tab_postions{
			.ui-tabs-nav{
				margin-bottom: 1.5rem;
				text-align: center; 
			}
		}
	}
	.margin_0{
		margin-top: 0;
		margin-bottom: 0;
		.section{
			margin-bottom: 0;
		}
	}
	.margin_bottom_0{
		margin-bottom: 0;
	}
	// Page tile
	.page-title-wrapper{
		margin: @margin_gobal_value 0;
		text-align: center;
		.page-title{
			.lib-css(font-size, @page-title-size);
			line-height: 1;
			margin-bottom: 0;
			font-weight: 500;
		}
		@media only screen and (max-width: (@screen__l - 1)) {
			margin: @margin_gobal_value/2 0;
			.page-title{
				.lib-css(font-size, @page-title-size - 2rem);
			}
		}
		@media only screen and (max-width: (@screen__xs - 1)) {
			margin: @margin_gobal_value/2 - 1 0;  
			
		}
	}	
	//Blog title
	.top-banner-blog-container{
		display: none;
	}
	div[class="top-banner-blog-container"][style*="background-image"]{
		display: block;
		padding: 7rem 0;
		text-align: center;
		background-position: top center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		.top-banner-blog-title{
			color: @color-white;
			.lib-font-size(48);
			@media only screen and (max-width: (@screen__s - 1)) {
				.get-vw-s(font-size, 48px);
			}
		}
	}
	.title{
		margin-bottom: 5.2rem;
		text-align: center;
		h2{
			margin-bottom: 1rem;
			.lib-font-size(48);
			span{
				color: @theme__color__primary;
			}
		}
	}
	// Module title
	.rokan-title,
	.block .title.rokan-title{
		.lib-css(margin-bottom, @module_margin_bottom);
		.lib-css(text-align, @module_title_text-align);
		.module-title,h3 strong, h3{
			.lib-css(font-size, @module_title-size);
			.lib-css(text-transform, @module_title-text-transform);
			.lib-css(font-weight, @module_title-font-weight);
		}

		.short_description,
		.des,
		.short-des{
			.lib-css(font-size, @short_des_font_size);
		}
		&.has-see-all{
			position: relative;
			.module-title{
				padding-right: 10%;
				position: relative;
			}
			.see-all{
				position: absolute;
			    right: -1rem;
			    top: 50%;
			    @transform: translateY(-50%);
			    .lib-css(transform, @transform, 1);
			    .lib-font-size(14);
		    	&:not(:hover){
		    		color: @text__color;
		    	}
		    	.lib-icon-font(
		    		@_icon-font-position: after,
		    		@icon-next,
	                @_icon-font-color: inherit,
	                @_icon-font-size: 30px,
		    	)
			}
		}
	}
	// Block title
	.block-title,
	.block-authentication .block-title{
		font-family: @heading__font-family__base;
		color:  @heading__color__base;
		margin-bottom: 2rem;
	}
	// Block related, upsell
	.block{
		&.related,
		&.upsell{
			.block-title{ 
				
			}
			.block-actions{
				button{
					.lib-button-reset();
					text-transform: capitalize;
					.lib-css(font-size, @font-size__base);
				}				
			}
			.products{
				margin: 0;
			}
		}
	}
	//block-newsletter-form
	.block-newsletter-form{
		input{
			.lib-css(border-radius, @form-element-input__border-radius);
		}
	}
	.cms-index-index{
		.page.messages{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
			z-index: 2;
			.messages{
				display: inline-block;
			}
		}
	}
}
// Gobal style on mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.rokan-title{
		br{
			display: none;
		}		
	}
	body .rokan-title,
	body .block .title.rokan-title{
		.lib-css(margin-bottom, @module_margin_bottom_mobile);
		.module-title,h3 strong, h3{
			.lib-css(font-size, @module_title-size_mobile);
		}
	}
	.block{
		&.related,
		&.upsell{
			.block-actions{
				display: none;			
			}

		}
	}
	.catalog-category-view{
		.products{
			margin: 2rem 0;
		}
	}
}
// Breadcrumbs
.bluesky-breadcrumbs(
	@_breadcrumbs_background: @breadcrumbs_background_color;
){
	.lib-css(background, @_breadcrumbs_background);
}
& when (@media-common = true) {
	.breadcrumbs{
		.bluesky-breadcrumbs();
		padding: 0 !important;
		.items{
			margin: auto;
			padding: 4rem 0;
			text-align: center;
			.lib-css(max-width, @layout__max-width);
			padding-left: @layout-indent__width;
			padding-right: @layout-indent__width;
			@media only screen and (max-width: (@screen__xs - 1)){
				padding: 3rem 0;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.breadcrumbs{
		max-width: 100%;
	}
}
// Refresh owl style
& when (@media-common = true) {
	body{
		.owl-carousel,
		.nivoSlider{
			.owl-nav,
			.nivo-controlNav{
				button,
				a{
					position: absolute;
					top: 50%;
					font-size: 0 !important;
					// Remove owl default style
					margin: 0;
					text-align: center;
					.transition();
					.lib-css(border-radius, @owl-nav-border-radius);
					&.owl-prev,
					&.owl-next,
					&.nivo-prevNav,
					&.nivo-nextNav{
						.lib-css(background-color, @owl-nav-bg);
					}
					&:hover{
						background: @theme__color__primary;
						&:before{
							.lib-css(color, @button__hover__color);
						}
					}
					.lib-icon-font(
		               	@icon-down,
		                @_icon-font-color: @heading__color__base,
		                @_icon-font-size: 36px,
		               
		            );
		            &:before{
						.lib-css(width, @owl-nav-bg-width);
						.lib-css(height, @owl-nav-height);
						.lib-css(color, @owl-nav-color);
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}
					&.owl-prev,
					&.nivo-prevNav{
						left: 0;
						@_transform: translate(-50%, -50%) scale(0);
						.lib-css(transform, @_transform, @_prefix: 1);
						@media only screen and (max-width: @screen__m){
							@_transform: translate(0, -50%) scale(0);
							.lib-css(transform, @_transform, @_prefix: 1);
						}
						&:before{
							transform: rotate(90deg);
							-webkit-transform: rotate(90deg);
							-o-transform: rotate(90deg);
							-ms-transform: rotate(90deg);
						}
					}
					&.owl-next,
					&.nivo-nextNav{
						right: 0;
						@_transform: translate(50%, -50%) scale(0);
						.lib-css(transform, @_transform, @_prefix: 1);
						@media only screen and (max-width: @screen__m){
							@_transform: translate(0, -50%) scale(0);
							.lib-css(transform, @_transform, @_prefix: 1);
						}
						&:before{
							transform: rotate(-90deg);
							-webkit-transform: rotate(-90deg);
							-o-transform: rotate(-90deg);
							-ms-transform: rotate(-90deg);
						}
					}
				}
			}
			&:hover{
				.owl-nav,
				.nivo-directionNav{
					button,
					a{
						&.owl-prev,
						&.nivo-prevNav{
							@_transform: translate(-50%, -50%) scale(1);
							.lib-css(transform, @_transform, @_prefix: 1);
							@media only screen and (max-width: @screen__m){
								@_transform: translate(0, -50%) scale(0);
								.lib-css(transform, @_transform, @_prefix: 1);
							}
						}
						&.owl-next,
						&.nivo-nextNav{
							@_transform: translate(50%, -50%) scale(1);
							.lib-css(transform, @_transform, @_prefix: 1);
							@media only screen and (max-width: @screen__m){
								@_transform: translate(0, -50%) scale(0);
								.lib-css(transform, @_transform, @_prefix: 1);
							}
						}
					}
				}
			}
			.owl-dots {
				&:not(.disabled){
					text-align: center;
					.lib-css(margin-top, @owl-dot-margin-top);
					line-height: 1;
					position: relative;
					z-index: 2;
					.owl-dot {
						font-size: 0;
						line-height: 0;
						.lib-css(width, @owl-dot-width);
						.lib-css(height, @owl-dot-height);
						.lib-css(border-radius, @owl-dot-border-radius);
						.lib-css(background-color, @owl-dot-bg);
						display: inline-block;
						border: 2px solid @heading__color__base;
						margin: 0 5px;
						&.active,
						&:hover{
							.lib-css(background-color, @heading__color__base);
						}
						&:focus{
							box-shadow: none;
						}
					}
				}
			}
		}
		.owl-carousel {
			display: none;
		    width: 100%;
		    z-index: 1;
		}
		.owl-carousel.owl-loaded {
		    display: block;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body{
		.owl-carousel,
		.nivoSlider{
			.owl-nav,
			.nnivo-directionNav{
				display: none;
			}
		}
	}
}
// Header
& when (@media-common = true) {
	.page-header{
		position: relative;
		z-index: 4;
		margin-bottom: 0;
		border-bottom: 1px solid @border-color__base;
		@media only screen and (max-width: (@screen__s - 1)){
			border-bottom: none;  
		}
	}
	.for-full-width-menu{
		position: relative;
	}
	.container-setting-language-currency{
		.switcher-label{
			display: none;
		}
		.switcher{
			display: inline-block;
			margin-right: 0;
			line-height: 1;
			padding: 0 8px 0 8px; 
			border-right: 1px solid;
			border-color: darken(@header-border-color, 4%);
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
				border-right: 0;
			}
			.switcher-options{
				.switcher-trigger.action.toggle{
					line-height: 1;
					white-space: nowrap;
					*{
						line-height: 1;
						text-transform: capitalize;
						
					}
					&:after{
						vertical-align: middle;
						margin-left: 2px;
						line-height: 0.7;
						color: @header-icons-color;
					}
					strong,
					&:after{
						.transition();
					}
					&:hover{
						strong,
						&:after{
							color: @link__hover__color;
						}
					}
				}				
				.dropdown.switcher-dropdown {
					border: 1px solid @border-color__base;
					box-shadow: none;
					margin: 0;
					display: block;
					opacity: 0;
					visibility: hidden;
					top: calc(~'100% + 30px');
					padding: 1rem 0;
					@transition: top 0.4s ease;
					.lib-css(transition, @transition, @_prefix: 1);
					&:before, &:after{
						display: none;
					}
					li {
						.lib-font-size(14);
						&:hover {
							background: transparent;
						}
						a {
							padding: 0.2rem 2rem;
							line-height: 2.6rem;
							&:not(:hover){
								.lib-css(color, @text__color);
							}
						}
					}
				}		
				&.active{
					.dropdown.switcher-dropdown{
						opacity: 1;
						visibility: visible;
						top: calc(~'100% + 10px');
					}				
				}	
			}
		}
	}
	.header-container{
		&:not(.sticky){
			.logo-sticky{
				display: none;
			}
			.action-sticky.show-on-sticky{
				display: none;
			}
		}
		.logo-container{
			display: inline-flex;
			align-items: center;
			.nav-toggle{
				display: none;
			}
		}
		.logo{
			max-width: 100%;
			margin: 0;
			float: none;
		}
		//Gobal style
		.topbar{
			.lib-css(background-color, @topbarbg);
			.lib-css(color, @topbarcolor);
			position: relative;
			z-index: 15;
			.topbar-inner{
				align-items: center;
				position: relative;
				z-index: 1;
				justify-content: space-between;
				> div{
					> *{
						padding: 0.95rem 0;
					}
				}
				p, ul{
					margin-bottom: 0;
					a{
						text-transform: capitalize;
					}
				}
				.col-top-link{
					a{
						&:not(:hover){
							.lib-css(color, @topbarcolor);
						}
						&:hover{
							.lib-css(color, @topbarhovercolor);
						}
					}
					.action strong,
					.action.toggle::after{
						.lib-css(color, @topbarcolor);
						&:hover{
							.lib-css(color, @topbarhovercolor);
						}
					}
					> *{
						&:not(:last-child){
							> *{
								padding-right: 1rem;
								border-right: 1px solid;
								.lib-css(border-color, darken(@header-border-color, 4%));
								margin-right: 1rem;
								display: block;
								line-height: 1;
							}
						}
					}
				}
			}
			.container-setting-language-currency {
				.switcher {
					.switcher-options {
						.switcher-trigger.action.toggle{
							&:hover{
								strong,
								&:after{
									.lib-css(color, @topbarhovercolor);
								} 
							}
						}
					}
				}
			}						
		}			
		.header{
			&.links{
				.lib-list-reset-styles();
				.flex();
				flex-wrap: nowrap;
				
				li{
					margin-bottom: 0;
					border-width: 0  @border-width__base;
					white-space: nowrap;
					&:not(:last-child){
						border-right: @border-width__base solid;
						border-color: lighten(@topbarbg, 35%);
						padding-right: 1rem;
    					margin-right: 1rem;
					}
					&:last-child{
						padding-right: 0;
						padding-left: 2rem;
					}
					&.compare{
						.compare{
							display: block;
						}
					}
					&:not(:hover){
						a{
							.lib-css(color, @topbarcolor);
						}
					}
					&.authorization-link{
						border-right: 0;
						margin-top: -1px;
						margin-right: 0;
						padding-right: 0;
						white-space: nowrap;
						a{
							&:before{
								.lib-icon-header(
									@_icon-header-content: @icon_account_header,
								);
								vertical-align: baseline;
								padding-right: 2px;
							}
							&:hover{
								&:before{
									.lib-css(color, @link__hover__color);
								}
							}
						}
						&:after{
							content: attr(data-label);
						    display: inline-block;
						    margin: 0 -15px 0 1px;
						}
						a[href*="logout"]{
							&:after{
								display: none;
							}
						}
					}
				}
			}
		}
		.hotline,
		.address{
			margin: 0 1.5rem 0 0.9rem;
			.icon{
				line-height: 1;
				margin-right: 0.8rem;
				.lib-css(color, @header-icons-color);
				> *{
					margin-right: -2.5px;
					vertical-align: middle;
				}
			}
			p{
				margin-bottom: 0;
			}
			h5{
				margin: 0;
			}
		}
		.col-action{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				.top-search{
					.text{
						display: none;
					}
				}
			}
			.action-header{
				> li{
					margin: 0 @icon-header_margin;
					margin-bottom: 0;
					line-height: 1;
					@media only screen and (max-width: (@screen__s - 1)){
						margin: 0 @icon-header_small_margin;
					}
					a{
						position: relative;
						&:hover{
							&:before{
								color: @link__hover__color;
							}
						}
					}
					&:last-child{
						margin-right: 0;
					}
					> a,
					.minicart-wrapper > a,
					.minicart-wrapper > a.active{
						&:before{
							color: @header-icons-color;
						}
					}
					&.wishlist{
						a{
							&:before{
								.lib-icon-header(
									@_icon-header-content: @icon_wishlist_header
								);
							}
							&:hover {
								&:before {
									.lib-css(color, @header-icons-color-hover);
								}
							}
						}
					}
					.minicart-wrapper > a,
					.minicart-wrapper > a.active{
						&:before{
							.lib-icon-header(
								@_icon-header-content: @icon_mini_cart_header
							);
						}
						&:hover {
							&:before {
								.lib-css(color, @header-icons-color-hover);
							}
						}
					}
				}
			}
			.minicart-wrapper .action.showcart,
			li{
				.counter.qty{
					position: absolute;
					right: 0;
					top: -3px;
					border-radius: 50%;
					min-width: 2rem;
					min-height: 2rem;
					.lib-css(color, @button__hover__color);
					background-color: @theme__color__primary;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					line-height: 1;
					margin-top: 0;
					height: auto;
					.lib-font-size(14);
					&.empty{
						display: inline-flex;
					}
					@media only screen and (max-width: (@screen__s - 1)){
						min-width: 1.8rem;
						min-height: 1rem;
						height: 1.8rem;
						left: auto;
						right: 0;
					}
				}
			}
		}	
		&.sticky{
			.logo-container{
				z-index: 4;
			}
			.logo-sticky,
			.sticky-logo{
				display: inline-flex;
				align-items: center;
				max-width: 25rem;
			}
			.sticky-header,
			&.sticky-header{
				.lib-css(background-color, @header_sticky_bg);
				position: fixed;
			    top: 0;
			    left: 0;
			    right: 0;
			    z-index: 23;
			    width: 100%;
			    @animation: 0.7s ease-out 0s 1 normal forwards running fadeInDown;
			    .lib-css(animation, @animation, @_prefix: 1);
				&:after {
					content: '';
					position: absolute;
					left: -9999rem;
					right: -9999rem;
					bottom: 0;
					top: 0;
					border-bottom: 1px solid @header_sticky_border; 
					pointer-events: none;
					.lib-css(background-color, @header_sticky_bg); 
					z-index: -1;
				}
			    > div{
			    	max-width: @layout__max-width;
			    	padding-left: @layout-indent__width;
			    	padding-right: @layout-indent__width;
			    	margin: auto;
			    	
			    }
			    &.center-element{
			    	.logo-sticky,
			    	.action-sticky{
			    		flex: 1;
			    		.action-header{
			    			justify-content: flex-end;
			    		}
			    	}
			    	.col-menu{
			    		flex: 2;
			    		justify-content: center;
			    	}

			    	.for-full-width-menu{
			    		.lib-css(padding-top, @sticky_padding);
						.lib-css(padding-bottom, @sticky_padding);
			    	}
			    }
			}
			@media only screen and (min-width: @screen__l) {
				&.sticky-header{
					.static-sticky{
			    		position: static;
			    	}
				    .for-full-width-menu.show-menu{
				    	max-width: 60%;
					    margin: auto;
					    position: absolute;
					    left: 50%;
					    top: 50%;
					    @transform: translate(-50%,-50%);
					    .lib-css(transform, @transform, @_prefix: 1); 
					    .custommenu{
					    	> ul{
					    		display: -webkit-box;
							    display: -webkit-box;
							    -webkit-line-clamp: 1;
							    -webkit-box-orient: vertical;
							    overflow: hidden;
							    text-overflow: ellipsis;
					    	}
					    }
				    }
				}
			}
			.action-sticky{
				justify-content: flex-end;
				.minicart-wrapper{
					margin-left: 0;
				}
				.action-header{
					> li{
						> a,
						.minicart-wrapper > a{
							&:before{
								.lib-font-size(18);
								color: @navigation-desktop-level0-item__color;
							}
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						min-width: 2rem;
					    min-height: 1rem;
					    height: 2rem;
					    line-height: 1;
					}
				}
			}
			.hidden-sticky{
				display: none !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container{
		&.sticky{
			.hidden-sticky-desktop{
				display: none !important;
			}
		}
	}
}
// Header on screen < 1199px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	header .header-container{
		.header-content{
			.topbar{
				.topbar-inner {
					justify-content: center;
					margin: 0 -0.5rem;
					padding-top: 0.6rem;
					padding-bottom: 0.6rem;
					p,ul{
						line-height: 1;
					}
					> *{
						padding: 0 0.5rem;
					}
				}
			}
		}
		.col-menu{
			position: relative;
			z-index: 25;
		}
		.col-action{
			.header.links{
				a[href*="account"],
				a[href*="creat"]{
					font-size: 0;
				}
				.authorization-link{
					&:after{
						display: none; 
					}
				}
			}
		}
		&.sticky{
			.sticky-header{
			    &.center-element{
			    	.col-menu{
			    		order: 1;
			    		flex: unset;
			    		
			    	}
			    	.logo-sticky{
			    		flex: 0 0 100%;
		    		    text-align: center;
						margin-right: -50%;
						max-width: 100%;
						margin-left: -3rem;
						order: 2;
			    		a{
			    			display: block;
			    			max-width: 50%;
			    			margin: auto;
			    			@transform: translateZ(0);
			    			.lib-css(transform, @transform, @_prefix: 1);
			    			img{
			    				max-height: 6rem;  
			    			}
			    		}
			    	}
			    	.action-sticky{
			    		order: 3;
			    	}
			    }
			}
		}
	}
}
// Remove default header panel padding
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-header {
		.header.panel{
			padding-top: 0;
			padding-bottom: 0;
		}
		.panel.wrapper {
            display: none;
        }
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container{
		&.sticky{
			.sticky-header{
			    &.center-element{
			    	.action-sticky .action-header > li.wishlist{
			    		display: none;
			    	}
			    }
			}
		}
	}
}
// Footer
& when (@media-common = true) { 
	.page-footer{
		.lib-css(margin-top, @margin_gobal_value);
		.lib-css(color, @footercolor);
		.lib-css(font-size, @footer_font-size);
		.lib-css(padding, @footer_padding);
		@media only screen and (max-width: (@screen__l - 1)){
			 .lib-css(margin-top, @margin_gobal_value - 2rem);
			 .lib-css(padding-top, @margin_gobal_value - 2rem);
			 .lib-css(padding-bottom, @margin_gobal_value - 2rem);
		}	
		@media only screen and (max-width: (@screen__xs - 1)){
			 .lib-css(margin-top, @margin_gobal_value - 4rem);
			 .lib-css(padding-top, @margin_gobal_value - 4rem);
			 .lib-css(padding-bottom, @margin_gobal_value - 4rem);
		}	
		.footer {
			&.content{
				padding-top: 0;
				.block{
					float: none;
					margin-bottom: 2.6rem;
				}
			}
        	&.content {
	            border-top: 0;
	            margin-top: 0;
	            padding-bottom: 0;
				ol, ul{
					li{
						&:not(:last-child){
							margin-bottom: 0.5rem; 
						}
					}
					a{
						&:not(:hover){
							.lib-css(color, @footercolor);
						}
						&:hover{
							.lib-css(color, @footer_hover_color);
						}
					}
					.icon{
						&:not(:hover){
							color: @color-white;
						}
						.lib-font-size(18);
						.text{
							display: none;
						}
					}
					&.social-link{
						li{
							display: inline-flex;
							margin-bottom: 1rem;
							a{
								height: 3.5rem;
								font-size: 2.4rem;
								display: inline-flex;
								align-items: center;
								justify-content: center;
								.lib-css(color, @social_link-color);
								&:hover{
									color: @theme__color__primary;
									padding: 0;
								}
								.text{
									display: none;
								}
							}
							&:not(:last-of-type){
								margin-right: 2.4rem;
							}
						}
					}
				}	          
	        }
	        .copyright{
	        	margin: 0;
	        }
	    }	
	    .footer-title,
		.rokan-title .module-title{
	    	.lib-css(color, @footer-title-color);
	    }
		.footer-static_link{
			margin: 0 -1.5rem;
			.footer-title,
			.rokan-title .module-title{
				.lib-css(text-transform, @footer-title-transform);	
				.lib-css(font-weight, @footer-title-font-weight);	
				.lib-css(text-align, @footer-title-text-align);
				pointer-events: none;
			}
			.rokan-title{
				margin-bottom: 2rem;
				.module-title{
					margin-bottom: 0;
				}
			}

			.footer-links,
			.section{
				padding: 0 1.5rem;
				img{
					margin-bottom: 1rem; 
				}
				ul,
				.footer-contents{
					.lib-css(margin-top, @footer_content_margin_top);
				}
				p{
					margin-bottom: 3rem;
					&.margin_0{
						margin-bottom: 0;
					}
				}
				&.center{
					text-align: center;
				}
			}
			.section{
				margin-bottom: 0;
				padding: 0;
				.container{
					width: 100% !important;
					padding: 0;
				}
			}
		}
		.hozital-menu{
			ul{
				li{
					&:not(:last-child){
						.lib-css(border-color, @footer-border-color);
					}
				}
			}
		}
		.footer-bottom{
			.lib-css(background-color, @footer-bottom_bg);
			.lib-css(color, @footer_bottom_color); 
			.container-inner.border-top{
				.lib-css(padding-top, (@margin_gobal_value - 6rem));
				.lib-css(padding-bottom, (@margin_gobal_value - 6rem));
				&.border-top{
					.lib-css(border-top, @border-width__base solid @footer-border-color);
				}
			}
			a{
				&:not(:hover){
					.lib-css(color, @footer_bottom_color) !important;
				}
				&:hover{
					padding: 0;
				}
			}
		}
		.copyright{
			.lib-css(font-size, @footer_font-size);
		}
	}
	#back-top{
		position: fixed;
	    bottom: 10rem;
	    right: 1rem;
	    width: 4rem;
	    height: 4rem;
	    font-size: 18px;
	    line-height: 36px;
	    text-align: center;
	    background-color: @color-white;
	    border: 2px solid @border-color__base;
	    color: @text__color;
	    .lib-css(border-radius, @button__border-radius);
	    @transform: scale(0);
	    .lib-css(transform, @transform, @_prefix: 1);
	    .transition();
	    cursor: pointer;
	    z-index: 3;
	    &.show{
	    	 @transform: scale(1);
	    	.lib-css(transform, @transform, @_prefix: 1);
	    }
	}
	// Footer fixed on mobile
	footer{
		.fixed-bottom{
			z-index: 3;
		}
	}
	.link-on-bottom{
		.mobile-bottom-link{
			margin-bottom: 0;
			background-color: @color-white;
			border-top: 1px solid @border-color__base;
			border-bottom: 1px solid @border-color__base;
			li{
				margin-bottom: 0;
				flex: 1;
				a{
					padding: 15px 10px;
					display: block;
					text-align: center;
					line-height: 1;
					span{
						display: block;
						font-size: 20px;
						margin-bottom: 9px;
					}
					&:not(:hover){
						.lib-css(color, @heading__color__base);
					}
					.nav-toggle{
						position: static;
						width: auto;
						height: auto;
						&:before{
							display: none;
						}
						span{
							position: static;
							width: auto;
							height: auto;
						}
					}
				}
			}
		}
	}
	.nav-open{
		.page-footer{
			position: relative;
			z-index: 1;
		}
	}
}
// Footer on tabel
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				.lib-css(flex, 0 0 @footer_item_width_tabel);
				.lib-css(max-width, @footer_item_width_tabel);
			}
		}
		.footer {
			&-top{
				> .footer.content{
					.container-inner.border-top{
						.lib-css(padding-top, @margin_gobal_value - 1.8rem);
						.lib-css(border-top, 1px solid @footer-border-color);
					}
				}
			}
		}
	}	
	#back-top{
		right: 3rem;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.page-footer{
		.footer-static_link{
			.footer-title,
			.rokan-title .module-title{
				.lib-css(font-size, @footer-title-font-size);
				.lib-css(margin, @footer-title-margin);
			}
		}
	}
	.footer-links,
	.section{
		margin-bottom: 4rem;
		ul,
		.footer-contents{
			.lib-css(margin-top, @footer_content_margin_top);
			.lib-css(margin-top, @footer_content_margin_bottom);
		}
	}
}
// Footer links on mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer {
		.footer-static_link{
			.footer-links{
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 0;
				br{
					display: none;
				}
				.footer-title,
				.rokan-title .module-title{
					.lib-css(font-size, @footer-title-mobile-font-size);
					.lib-css(background-color, @footer-title-mobile_bg);	
					.lib-css(margin, @footer-title-mobile_margin);	
					.lib-css(padding, @footer-title-mobile_padding);
					.border_radius(2px);
					pointer-events: inherit !important;
					position: relative;
					.lib-icon-font(
		            @_icon-font-content: @icon-down,
		            @_icon-font-size: 30px,
		            @_icon-font-position: after,
		            @_icon-font-display: block
		            );
		            &:after {
		                position: absolute;
		                right: 10px;
		                top: 50%;
		                @transform: translateY(-50%);
		                .lib-css(transform, @transform, @_prefix: 1);
		            }
		            &.active{
		                .lib-icon-font-symbol(
		                @_icon-font-content: @icon-up,
		                @_icon-font-position: after,
		                );
		            }
				}
				&.not-collapse-mobile{
					margin-bottom: 3rem;
				}
				&:not(.not-collapse-mobile){
					.footer-contents{
						display: none;
						.lib-css(margin-top, @footer_content_mobile_margin_top);
						.lib-css(margin-bottom, @footer_content_mobile_margin_bottom);
					}
				}
			}
		}
	}
	.enable-mobile-menu{
		padding-bottom: 7.5rem;
	}
}
// Footer on destop small
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.page-footer {
		.footer .copyright{
			text-align: center;
			width:100%;
		}
		.hozital-menu{
			text-align: center !important;
			img{
				margin: auto;
				margin-top: 1rem;
			}
		}
	}
}
// Tool bar
& when (@media-common = true) {
	.toolbar{
		position: relative;
		.modes{
			.modes-mode{
				span{
					.lib-visually-hidden();
				}
				&:not(.active,:hover){
					&:before{
						background-color: #afafaf;
					}
				}
				&:hover,
				&.active{
					&:before{
						background-color: @heading__color__base;
					}
				}
				&:before{
					content: '';
					display: inline-flex;
				    -webkit-mask-repeat: no-repeat !important;
					-webkit-mask-position: center !important;
					height: 17px;
					align-items: center;
				}
				&.mode-grid{
					margin-right: 1.5rem;
					&:before{
						width: 16px;
    					@mask: url(../images/mode_grid.svg);
    					.lib-css(mask, @mask, @_prefix: 1);
					}
				}
				&.mode-list{
					&:before{
						width: 24px;
    					@mask: url(../images/mode_list.svg);
    					.lib-css(mask, @mask, @_prefix: 1);
					}
				}
			}
		}
		&:not(:last-child){
			.grid-mode-show-type-products{
				position: absolute;
				left: 50%;
				@transform: translateX(-50%);
				.lib-css(transform, @transform, @_prefix: 1);
				margin-top: 1px;
				display: none;
				> a {
					display: inline-block;
					width: 40px;
					height: 25px;
					text-align: center;
					line-height: 20px;
					padding: 0;
					background-color: @color-white;
					border: 0;
					font-size: 0;
					&:before{
						content: "";
						min-width: 30px;
					    height: 16px;
					    display: inline-flex;
					    align-items: center;
					}
					&:not(:hover, .active){
						&:before{
							background-color: #aaaaaa;
						}
					}
					&.grid-mode-2{
						&:before{
							@mask: url(../images/grid_2.svg) no-repeat center;
							.lib-css(mask, @mask, @_prefix: 1);
						}
					}
					&.grid-mode-3{
						&:before{
							@mask: url(../images/grid_3.svg) no-repeat center;
							.lib-css(mask, @mask, @_prefix: 1);
						}
					}
					&.grid-mode-4{
						&:before{
							@mask: url(../images/grid_4.svg) no-repeat center;
							.lib-css(mask, @mask, @_prefix: 1);
						}
					}
					&.grid-mode-5{
						display: none;
						&:before{
							@mask: url(../images/grid_5.svg) no-repeat center;
							.lib-css(mask, @mask, @_prefix: 1);
						}
						@media only screen and (max-width: 1366px) {
							display: none;
						}
					}
					&.actived,
					&:hover{
						&:before{
						    background-color: @heading__color__base;
						}
					}
				}
				&.check-view-mode-toolbar-list{
					display: none;
				}
			}
		}
		&:last-of-type{
			.grid-mode-show-type-products{
				display: none;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	ol[class*="category_page_grid"]{
		.product-item{
	  	  	.transition();
		}
	}
	.toolbar{
		&:not(:last-child){
			.grid-mode-show-type-products{
				display: block;
			}
		}
	}
	.category_page_grid{
		&_2{
			.product-item{
				width: 50% !important;
			}
		}
		&_3{
			.product-item{
				width: 100% / 3 !important;
			}
		}
		&_4{
			.product-item{
				width: 25% !important;
			}
		}
		&_5{
			.product-item{
				width: 20% !important;
			}
		}
	}
}
// End tool bar

// Sidebar
& when (@media-common = true) {
	.sidebar-additional{
		.block-wishlist{
			.product-item{
				.product-item-details{
					min-height: 1px !important;
				}
				.product-item-name, 
				.product.name{
					> a{
						font-weight: @text-weight;
					}
				}
				.button_quickview{
					display: none;
				}
				.product-item-actions{
					.actions-primary{
						.action{
							&.tocart{
								.lib-button-reset();
								span{
									font-weight: @heading__font-weight__base;
									padding-bottom: 2px;
									border-bottom: 1px solid @text__color;
									color: @text__color;
								}
								&:hover{
									span{
										color: @theme__color__primary;
										border-color: @theme__color__primary;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// Blog sidebar
	.sidebar{
		.block-reorder{
			display: none;
		}
	}
}
// End sidebar
//Product restyle
& when (@media-common = true) {
	// search results
	.search.results{
		> .block{
			display: none;
			.item{
				padding-left: 1rem;
			}
		}
		.products{
			margin: 0;
		}
	}
	// Border product thumb
	body .fotorama__nav--thumbs .fotorama__nav__frame.fotorama__active{
		border-color: @theme__color__primary;
		border-width: 1px;
	}
	// Remove product-item width in owl
	body.page-layout-1column {
		.products-grid {
			.product-item{
				width: 100%;
			}				
		}
	}
	body.page-layout-2columns-left,
	body.page-layout-2columns-right{
		.products-related,
		.products-upsell{
			.products-grid {
				.product-item{
					width: 100%;
				}				
			}
		}
	}
    .price-including-tax, 
    .price-excluding-tax{
    	.lib-font-size(1.4rem);
    }
    .price-box{
		.special-price{
			*,
			.price-final_price *{
				.lib-css(color, @specail_price_color);
			}
		}
		.old-price{
			.lib-css(color, @old-price_color);
			*,
			.price-final_price *{
				.lib-css(color, @old-price_color);
				font-weight: @text-weight !important;
				.lib-css(font-size, @old_price_font);
			}
		}
		.price-final_price,
		.price-configured_price{
			*{
				.lib-css(color, @price_color);
			}
		}
	}
    .product-item-name, 
    .product.name a{
        margin-top: 0;
    }
    .product-item {
    	background: @color-white;
        .product-item-name, 
        .product.name a{
            margin-bottom: 1px;
        }
        .product-reviews-summary{ 
            margin: 8px 0;
        }
        .minicart-price {
            .price{
                .lib-css(color, @price_color);
            }
        }
        // New sale lable
        .product-label{
        	position: absolute;
        	top: 2rem;
        	font-family: @heading__font-family__base;
        	text-transform: uppercase;
        	z-index: 3;
    		bottom: auto;
    		> span{
    			line-height: 1;
				padding: 6px 8px 4px 8px;
    			.border_radius(3px);
    			display: block;
    		}
        	.onsale{
        		right: 2rem;
        		color: @sale_label_color; 
        		background: @sale_label_bg;
        		margin-bottom: 3px;
        	}
        	.newlabel{
        		left: 2rem;
        		background: @new_label_bg;
        		color: @new_label_color;
        	}
        }
    }
    // Remove default swatch height
    .swatch-attribute{
		&:not(.color){
			.swatch-option{
				height: auto;
			}
		}
		div[class*="-tooltip"]{
			display: none !important;
		}
		.swatch-option{
			&.text{
				font-weight: @heading__font-weight__base;
			}
		}
	}
    // Remove price label
    .price-box{
    	.price-label{
    		display: none;
    	}
    }
    // Check box add to cart in related product
    .products-grid{
    	.product-items{
    		.product-item-info {
    			.product-item-details{
    				.actions-primary{
    					.stock{

    						&.unavailable{
    							pointer-events: none; 
    							span{
    								display: none;
    							}
    						}
    						&:before{
								// .icon_custom_font("\f07a");
								font-size: 1.4rem;
								color: @heading__color__base;
							}
    					}
    				}
					.field.choice.related{
						background: transparent;
						.label{
							font-size: 0;
							cursor: pointer;
							&:before{
								.icon_custom_font(
								  @_icon_custom_font_content: "\e94f",
								  @_icon_custom_font_color: @text__color,
								  @_icon_custon_font_size: 1.8rem,
								  @_icon_custon_line_height: 1,
								);
								color: @heading__color__base;
							}
						}
						input{
							opacity: 0;
							width: 0;
							margin: 0;
							position: absolute;
						}
						input:checked+.label{
							&:before{
								.icon-font("\f00c");
								font-size: 1.4rem;
							}
						}
						&:hover{
							.label{
								background: @button__hover__background;
								&:before{
									color: @button__hover__color;
								}
							}
						}
					}
				}
    		}
    	}
    }
    	// Block related, upsell
	.block{
		&.related,
		&.upsell,
		&.crosssell{
			position: relative;
			.products-grid .product-items .product-item {
				.product-item-actions {
					opacity: 1;
					visibility: visible;
					bottom: auto;
					.flex();
					flex-direction: column-reverse;
					.field.choice.related label.label{ 
						opacity: 1;
						visibility: visible;
						transform: none;
					}
				}
				
			}
			.rokan-title{
				&.block-title{
					margin-bottom: 0;
					h3 {
						strong {
							.lib-css(font-size, @module_title-size); 
						}
					}
				}
			}
			.block-actions{
				.flex();
				justify-content: center;	
				align-items: center;
				margin-top: -1.5rem;
				margin-bottom: 4rem;
				button{
					color: @heading__color__base; 
					&.action.select{
						margin: 0;
						margin-left: 5px;
						line-height: 1;
					}
				}
			}
			.products-grid {
				.product-item{
					border-top: 0;
					margin-top: 0;
					border-bottom: 0;
				}
				.last-active-item{
					.product-item{
						border-right-color: transparent;
					}
				}
			}
		}
	}
    .product-reviews-summary{
		&.no-rating{
			.reviews-actions{
				min-height: 1.4rem;
				&:before{
					.lib-css(font-family, @rating-icon__font);
	                .lib-css(color, @rating-icon__color);
	                .lib-rating-icons-content(@rating-icon__count, @rating-icon__content);
				}
			}
		}
	}
}

// Mini cart
& when (@media-common = true) {
	.minicart-wrapper{
		.block-minicart{
			@shadow: 2px 3px 6px rgba(0,0,0,.2);
			.lib-css(box-shadow, @shadow, @_prefix: 1);
			border: 0;
		}
		.minicart-items-wrapper{
			border: 0;
			.product-item{
				border-top: 0;
				overflow-x: hidden;
				&:last-child{
					padding-bottom: 0;
				}
				.product{
					position: relative;
					.product-item-photo{
						margin-bottom: 0;
					}
					.product-item-details{
						padding-right: 2rem;
						.product-item-name{
							a{
								.lib-css(color, @product-name-link__color);
							}
						}
						.product-item-pricing{
							.flex();
						    align-items: center;
						    justify-content: flex-start;
						    position: relative;
						    .price-excluding-tax{
						    	margin: 0;
						    }
						    .qty{
						    	margin-top: 0;
						    	.lib-icon-font(
				                    @icon-remove,
				                    @_icon-font-size: 20px,
				                    @_icon-font-line-height: 20px,
				                    @_icon-font-text-hide: true,
				                    @_icon-font-color: @heading__color__base,
				                );
						    	.label{
						    		display: none;
						    	}
						    	.update-cart-item{
						    		@_transform: translateX(100%);
						    		.lib-button-reset();
						    		position: absolute;
						    		right: 0;
						    		top: 4px;
						    		color: @theme__color__primary;
						    		.lib-css(transform, @_transform, @_prefix: 1);
						    	}
						    	input{
						    		height: auto;
						    		text-align: left;
						    		border: 0;
						    		padding: 0;
						    	}
						    }
						}
						.actions{
							position: absolute;
							top: 1.5rem;
							right: -7px;
							margin: 0;
							.flex();
						    flex-direction: column-reverse;
							justify-content: flex-end;
							align-items: center;
							.action{
					            &.edit {
					            	&:before{
					            		font-size: 2rem;
					            	}
					            }

					            &.delete {
					                .lib-icon-font-symbol(
					                    @_icon-font-content: @icon-remove;
					                );
					            }
					        }
						}
						//product options list
						.product.options.list{
							display: grid;
							grid-template-columns: 1fr 1fr;
							margin-bottom: 0;
							.label{
								color: @heading__color__base;
							}
						}
					}
				}
			}
		}
		.block-minicart{
			&:before,
			&:after{
				display: none;
			}
		}
		.block-content{
			.items-total{
				display: none;
			}
			.subtotal{
				.flex();
				align-items: center;
				justify-content: space-between;
				font-family: @heading__font-family__base;
				margin-left: 0;
				margin-right: 0;
				border-top: 1px solid @border-color__base;
				padding-top: 2rem;
				.label{
					.lib-font-size(14);
					color: @heading__color__base;
				}
				.price-container{
					color: @heading__color__base;
					.price{
						.lib-font-size(16);
					}
				}
			}
			.actions{
				button,
				.btn{
					width: 100%;
					padding-left: 1.5rem !important;
					padding-right: 1.5rem !important;
				}
				.secondary{
					margin-right: 0;
					margin-left: 0;
					.action{
						&.viewcart{
							.lib-css(background, @checkout-button-bg);
							.lib-css(color, @checkout-button-color);
						}
					}
				}
			}
		}
		.loading-mask{
			display: none;
			.loader{
				width: 15px;
			    height: 15px;
			    border-width: 2px;
			}
		}
		.action.close{
			&:not(:hover){
				&:before{
					color: @heading__color__base;
				}
			}
			&:hover{
				&:before{
					color: @theme__color__primary;
				}
			}
		}
	}
	.ajax-loading{
		.minicart-wrapper{
			.loading-mask{
				display: flex;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.minicart-wrapper{
		margin-top: 0;
	}
}
// End mini cart style
// Cms block
// ===========================
// CMS BLOCK
& when (@media-common = true) {
	// Shipping support
	.shipping-support{
		.fa, 
		.far,
		.fas,
		.icon{
			&:before{
				font-size: 4rem;
				color: @heading__color__base;
			}
		}
		@media only screen and (max-width: (@screen__s - 1)){
			.col-auto:not(:last-child) {
				margin-bottom: 3rem;
			}
		}
		.content{
			padding-top: 2rem; 
			text-align: center;
			p{
				margin-bottom: 0;
				line-height: 1.1;
				font-size: 1.6rem;
				color: #444444;
				&.size-18,
				&.size-15{
					font-weight: @heading__font-weight__base;
					color: @heading__color__base;
				}
			}
		}
		.col-content{
			&:hover{
				.fa, 
				.far,
				.fas,
				.icon,
				img{
					@animation: drop 1000ms ease forwards;
					.lib-css(animation, @animation, @_prefix: 1);
				}
			}
		}
		h4, h5, h6{
			margin-top: 0;
			margin-bottom: 0.3rem;
		}
		a {
			font-weight: @font-weight__bold;
			margin-top: 2rem;
			display: inline-block;
			position: relative;
			&:after {
				.icon_custom_font(
				  @_icon_custom_font_content: "\e92f",
				  @_icon_custom_font_color: @heading__color__base,
				  @_icon_custon_font_size: 1.8rem,
				);
				display: inline-block;
				margin-left: 1.2rem; 
				font-weight: @font-weight__regular;
				vertical-align: middle;	
				position: absolute; 
				top: 50%;
				margin-top: -9px;
				opacity: 0;
			}
			&:hover {
				&:after {
					color: @theme__color__primary;
					opacity: 1;
					@animation: passing 1200ms linear infinite;
					.lib-css(animation, @animation, @_prefix: 1);	
				}
			}
		}
		
	}
	// Banner
	.page-wrapper {
		&:not(.lazyload-image){
			.banner{
				.banner-img{
					img{
						.transition();
					}
				}
			}
		}
	}
	.banner{
		&:after {
			content: "";
			display: table;
			clear: both; 
		}
		.banner-img{
			position: relative;
			overflow: hidden;
			.lib-css(line-height, @remove-line-height);
			&.hover-light-effect{
				&:before,
				&:after{
					content: '';
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    right: 0;
				    left: 0;
				    margin: auto;
				    width: 100%;
				    height: 100%;
				   @transition: all .5s linear;
					.lib-css(transition, @transition, @_prefix: 1);
				    z-index: 2;
				}
			}
		}		
		.col-banner{
			position: relative;
			overflow: hidden;
			&.absolute-content-image{
				.content{
					align-items: center;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					.flex();
					flex-wrap: nowrap;
					flex-direction: column;
					z-index: 2;
					.has-bg{
						.lib-css(background, @banner_element_bg);
						.lib-css(border-radius, @banner_element_border-radius, @_prefix: 1);
						.lib-css(padding, @banner_element_padding);
						display: inline-block;
					}
					h2{
						line-height: 1.2; 
					}
					> *{
						margin: 0;
					}
					h4{
						&:not(.margin_0){
							margin: 1.7rem 0;
						}
					}
					h5{
						&:not(.margin_0){
							margin-bottom: 1.7rem;
						}
					}
					p{
						line-height: 1.5;
						&:not(.margin_0){
							margin: 1rem 0 0 0;
		   				}
		   				&.margin_bottom_0{
		   					margin-bottom: 0;
		   				}
					}
					.button-wrap{
						margin-top: 1.6rem; 
						width: 100%;
						a{	
							display:inline-block;
							position: relative;
							&:not(.btn){
								border-bottom: 2px solid @heading__color__base;
							}
							&:hover {
								color: @theme__color__primary !important;
								border-color: @theme__color__primary;
							}
							&:after {
								.icon_custom_font(
								  @_icon_custom_font_content: "\e92f",
								  @_icon_custom_font_color: @heading__color__base,
								  @_icon_custon_font_size: 1.8rem,
								);
								display: inline-block;
								margin-left: 1.2rem; 
								font-weight: @font-weight__regular;
								vertical-align: middle;	
								position: absolute; 
								top: 50%;
								margin-top: -9px;
								opacity: 0;
							}
							&:hover {
								&:after {
									color: @theme__color__primary;
									opacity: 1;
									@animation: passing 1200ms linear infinite;
									.lib-css(animation, @animation, @_prefix: 1);	
								}
							}
						}
					}
					&.not-pointer {
						pointer-events: none;
					}
				}
				&.center{
					.content{
						justify-content: center;
						.lib-css(padding, @content_banner_center_padding);
					}
					&.center-content{
						.content{
							align-items: center;
						}
					}
					&.left{
						.content{
							align-items: flex-start;
						}
					}
					&.right{
						.content{
							align-items: flex-end;
						}
					}
				}
				&.space-between{
					.content{
						justify-content: space-between;
						.lib-css(padding, @content_banner_padding);
					}
				}
				&.top{
					.banner-img{
						width: 100%;
					}
					.content{
						justify-content: flex-start;
						.lib-css(padding, @content_banner_padding);
					}
					&.center-content{
						.content{
							align-items: center;
						}
					}
					&.left{
						.content{
							align-items: flex-start;
						}
					}
					&.right{
						.content{
							align-items: flex-end;
						}
					}
				}
				&.bottom{
					.banner-img{
						width: 100%;
					}
					.content{
						justify-content: flex-end;
						.lib-css(padding, @content_banner_bottom_padding);
					}
					&.center-content{
						.content{
							align-items: center;
						}
					}
					&.left{
						.content{
							align-items: flex-start;
						}
					}
					&.right{
						.content{
							align-items: flex-end;
						}
					}
				}
			}
			&.hover-text-show{
				.banner-img{
					&:before{
						display: block;
					    position: absolute;
					    content: '';
					    top: 0;
					    bottom: 0;
					    left: 0;
					    right: 0;
					    background-color: rgba(0,0,0,.3);
					     @transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
						z-index: 1;
					}
				}
			}
			&:hover{
				.banner-img{
					&:not(.no-animation){
						img{
							@transform: scale(1.1);
							.lib-css(transform, @transform, @_prefix: 1);
						}
						
					}
					&.animation{
						img{
							@animation: prdmove 2500ms linear forwards;
							.lib-css(animation, @animation, @_prefix: 1);
						}
					}
					&.hover-light-effect{
						&:before{
							width: 0;
						}
						&:after{
							height: 0;
						}
						&:before,
						&:after{
							background-color: fade(@color-white, 15%);
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.banner{
		.col-banner{
			&.absolute-content-image{
				.content{
					right: 1.5rem;
					left: 1.5rem;
				}		
				&.center{
					&.left{
						.content{
							.lib-css(padding, @banner__content_left_padding);
						}
					}
					&.right{
						.content{
							align-items: flex-end;
						}
					}
				}
			}
			&.hover-text-show{
				.banner-img{
					&:before{
						 background-color: rgba(0,0,0,0) !important;
					}
				}
				.content{
					 @transition: all 0.5s ease;
					.lib-css(transition, @transition, @_prefix: 1);
					z-index: 22;
					
				}
				&:not(:hover){
					.content{
						opacity: 0;
						visibility: hidden;
						@transform: scale(1.1);
					    .lib-css(transform, @transform, @_prefix: 1);
					    transform: scale(1.1);
					}
				}
				&:hover{
					.banner-img{
						&:before{
							 background-color: rgba(0,0,0,.3) !important;
						}
					}
				}	
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.banner{
		&.section { 
			margin-bottom: @margin_gobal_value - 5rem; 
		}
		&:not(.owl-carousel){
			.col-banner{
				margin-bottom: 3rem;
			}
		}
		.col-banner{
			&.absolute-content-image{
				&:not(.as-desktop){
					.content{
						padding: @banner__content_mobile_padding !important;
						z-index: 2;
						position: relative;
						&:after,
						&:before{
							width: 110%;
						}
					}
					&:not(.not-has-text){
						.banner-img{
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;	
							&.right{
								left: auto;
								right: 0;
							}
							&.left{
								right: auto;
								left: 0;
							}
							&.center{
								right: 0;
								left: 0;
							}
							img{
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								-o-object-fit: cover;
								object-fit: cover;
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.banner{
		&.section { 
			margin-bottom: @margin_gobal_value - 3.5rem; 
		}
		&:not(.owl-carousel){
			.col-banner{
				margin-bottom: 1.5rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.banner{
		&.section { 
			margin-bottom: @margin_gobal_value - 5.5rem; 
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body .shipping-support{
		.row{
			margin: 0 -5px;
		}
		.col-6{
			&:nth-of-type(1),
			&:nth-of-type(2){
				margin-bottom: 1rem;
			}
		}
	}
}
// Home page and 404
& when (@media-common = true) {
	// Home page
	.cms-index-index{
		.page-title-wrapper{
			display: none;
		} 
		.column.main{
			> div{
				&:last-of-type{
					margin-bottom: 0;
					.section{
						margin-bottom: 0;
					}					
				}
			}
		}
	}
	//404 page
	.cms-no-route{
		dt {
			color: @heading__color__base; 
		}
		.btn{
			margin-top: 3rem;
		}
		.sidebar{
			display: none;
		}
	}
}

// Category page
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.sidebar-additional{
		margin-top: 5rem;
	}
}
/*   Product detail page */
& when (@media-common = true) {
	// Qty input
	.box-tocart{
		.up-down{
			border: 1px solid @border-color__base;
			background: @color-white;
			.border_radius(2px);
			padding: 0 !important;
			a{
				color: @text__color;
				display: inline-flex;
				min-width: 2.5rem;
				text-align: center;
				justify-content: center;
				align-items: center;
				flex: 1;
				border-left: 1px solid @border-color__base;
				box-sizing: content-box;
				.lib-font-size(10);
				&.qty-up{
					border-bottom: 1px solid @border-color__base;
				}
			}
			.control{
				input{
					border: 0;
					margin-top: 0 !important;
					height: @form-element-input__height - 2px;
					width: auto !important;
					max-width: 7.8rem;
				}
			}
		}
	}
	//Rating restyle
	.product-reviews-summary {
		.flex();
		align-items: center;
		line-height: 1;
		.rating-summary{
			left: 0;
			z-index: 1;
			.rating-result{
				margin-left: 0;
				width: 6.75rem;
				vertical-align: baseline;
			}
		}
		> div{
			display: inline-flex;
		}
		.reviews-actions {
			a{
				&:not(:hover){
					.lib-css(color, @greycolor);
				}
				&.action.view{
					margin: 0 1rem;
					padding: 0 1rem;
					border: @border-width__base solid @border-color__base;
					border-width: 0 @border-width__base;
					display: inline-block;
					line-height: 1;
				}
			}
		}
	}
	/*   Product detail page */
	.product-main-content{
		&:after,
		&:before{
			content: '';
			display: table;
			clear: both;
		}
	}
	.product-info-main {
		.box-tocart .up-down{
			margin-right: 1rem !important;
		}
		.product-options-wrapper{
			margin: @indent__base 0 0.7rem;
			.fieldset{
				margin-bottom: 0;
			}
			.swatch-opt{
				margin: 0;
				.flex();
				flex-wrap: wrap;
				flex-direction: column;
				.swatch-attribute{
					margin-bottom: 1rem;
				}
				.swatch-attribute-selected-option{
					display: none;
				}
				.swatch-option{
					margin-right: 0.8rem;
					margin-bottom: 1rem;
					.transition(0.3s);
				}
			}
			.product-info-price{
				.old-price{
					.price{
						color: @greycolor;
						font-weight: @text-weight;
					}
				}
			}
			.fieldset > .field .choice input{
				vertical-align: middle;
				margin-top: -2px;
			}
		}
		.product-social-links{
			text-align: left;
			width: auto;
		}
		.product-add-form{
			.table-wrapper.grouped{
				thead{
					th{
						color: @heading__color__base;
					}
				}
				.col.item{
					padding-left: 0;
				}
				.price-box{
					margin-bottom: 0;  
				}
			}
		}
	}
	//
    //  Review tab product page
    //  ---------------------------------------------
	.review {
        &-toolbar {
            border-top: 1px solid @border-color__base;
            .pages {
                border-bottom: 1px solid @border-color__base;
            }
        }
        &-item {
        	border-bottom: 1px solid @border-color__base;
        }
    }
    .fieldset .review-legend.legend strong{
        display: inline-block;
        margin-left: 0.6rem;
    }
    .review-field-ratings {
        .review-field-rating {
            .label {
                padding-top: 0;
            }

            .control {
                padding-top: 0.7rem;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.product-info-main .box-tocart{
		margin-bottom: 0;
		.field.qty.up-down,
		.actions{
			margin-bottom: 1.3rem;
		}
	}
	#shopping-cart-table{
		.box-tocart {
			.up-down{
				input{
					width: 45px !important;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	
	body {
		//Rating restyle
		.product-info-main{
			.product-reviews-summary {
				flex-direction: column;
    			align-items: flex-start;
				.rating-summary{
					display: block;
					margin-bottom: 1rem;
				}
				.reviews-actions {
					a{
						&.action.view{
							margin-left: 0;
							padding-left: 0;
							border-left: 0;
							display: inline-block;
							line-height: 1;
						}
					}
				}
			}
		}
	}
}
// Product tab  in detail page Desktop style
//  _____________________________________________
& when (@media-common = true) {
	.product.info.detailed{
		.lib-css(margin-top, @margin_gobal_value);
		.product.data.items{
			>.item.title>.switch{
				.counter{
					.lib-font-size(16);
				}
			}
			> .item.content{
			 	text-align: left;
				&#description {
					text-align: center;
					@media only screen and (min-width: @screen__l){
						padding-left: 15%;
						padding-right: 15%;
					}
					line-height: 1.8;
					color: #444444;
				}
			 	.description{
			 		table{
				 		tr{
				 			td{
				 				padding: 0;
				 				strong,span{
				 					color: @primary__color__darker;
				 					&.semi{
				 						font-weight: @heading__font-weight__base;
				 					}
				 				}
				 			}
				 		}
				 	}
			 	}
			 	.value{
			 		p{
			 			&:last-of-type{
			 				margin-bottom: 0;
			 			}
			 		}
			 	}
			}
		}
		.additional-attributes{
			tbody{
				tr{
					th, td{
						width: auto;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.info.detailed{
		.product.data.items{
			text-align: center;
			> .item.title{
				float: none;
				display: inline-flex;
				position: relative;
				margin: 0 4rem 0 0;
				.transition ();
				&:last-child {
					margin: 0; 
				}
				> .switch {
					padding-left: 0;
					padding-right: 0; 
					.counter {
						.lib-font-size(14);
						position: absolute;
						right: -26px;
						top: 25px;
						font-weight:@font-weight__regular; 
						color: @theme__color__primary;
					}
				}
				&:after{
					content: '';
					position: absolute;
					bottom: 2px;
					left: 0;
					right: 0;
					height: 2px;
					display: block;
					background: transparent;
					z-index: 2;
				} 
				&.active > .switch,
		        &.active > .switch:focus,
		        &.active > .switch:hover {
					.lib-css(padding-top, @tab-control__padding-top);
		            .lib-css(padding-bottom, @tab-control__padding-top);
		        }
				&.active{
					&:after{
						background: @heading__color__base;
					}
				}

			}
		}
	}
}

// Product tab  in detail page Tablet style
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.product.info.detailed{
		.product.data.items{
			> .item.title{
				.switch{
					.lib-css(padding, @tab-control__padding-top);
					line-height: 1;
					background: @color-white;
				}
				&.active > .switch,
		        &.active > .switch:focus,
		        &.active > .switch:hover {
		            .lib-css(padding-bottom, @tab-control__padding-top);
		        }

			}
			> .item.content {
				margin-top:-1px;
			}
		}
	}
}
// Contact page
//Gobal style
& when (@media-common = true) {
	.contact-index-index {
		.column.main{
			h1{
				margin-bottom: 2rem;
			}
			p{
				line-height: 2.14;
			}
		}
	}
	.form {
		&.contact{
			width: 100%;
			.fieldset{
				> .field{
					&.row{
						margin-left: -1.5rem;
						margin-right: -1.5rem;
					}
				}
			}
			.control{
				line-height: 1;
			}
		}
	}
	//Panel toogle group
	.panel-group{
		.panel{
			border-bottom: 1px solid @border-color__base;
		}
		.panel-heading{
			h5{
				.lib-icon-font(
					@_icon-font-content: @icon-down,
					@_icon-font-size: 3rem,
				);
				display: block;
				position: relative;
				&:before{
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}	
			}
			&.active{
				h4{
					.lib-icon-font(
						@_icon-font-content: @icon-up,
						@_icon-font-size: 3rem,
					);
					display: block;
				}
			}
		}
		.panel-collapse{
			&:not(.active){
				display: none;
			}
		}
	}
	// Modal popup
	body{
		.modal-custom,
		.modal-popup,
		.modal-slide {
			.modal-inner-wrap{
				.lib-css(border-radius, @form-element-input__border-radius);
				box-shadow: none;
			}
			.action-close{
				padding: 0;
				border-radius: 0;
				z-index: 2;
				.lib-css(border-radius, @form-element-input__border-radius);
				.lib-css(background, @button__background);
				margin: 0;
				&:before{
					width: 3rem;
					height: 3rem;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					color: @button__color;
					.lib-css(background, @button__background);
					.lib-css(border-radius, @form-element-input__border-radius);
				}
				&:hover,
				&.active{
					.lib-css(background, @button__background);
					&:before{
						color: @button__hover__color;
					}
				}
			}
			.modal-title{
				padding-top: @indent__s;
				text-align: center;
			}
		} 
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.contact-index-index {
		.column{
			.form.contact{
				margin-bottom: 5rem;
			}
		}
	}
}
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.form {
		&.contact{
			width: 100%;
			.fieldset{
				> .field{
					&.row{
						.lib-css(margin-bottom, @form-field__vertical-indent - 9px); 
						> div{
							&:not(:last-child){
								.lib-css(margin-bottom, @form-field__vertical-indent - 9px); 
							}
						}
					}
				}
			}
			.control{
				line-height: 1;
			}
		}
	}
	.contact-index-index {
		br{
			display: none;
		}
	}
}

// Field in Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
		 margin: 0 0 @form-field__vertical-indent__desktop;
    }
}
// Page item 
//  _____________________________________________

// Over write theme bank
& when (@media-common = true) {
	.pages {
        .items {
        	display: inline-flex;
            .item{
                margin-right: 1rem;
                vertical-align: middle;
                a, strong{
                    padding: 0;
                    width: 3.5rem;
                    height: 3.5rem;
                   	.lib-css(border-radius, @form-element-input__border-radius);
                    margin: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    .transition();
                    &:active{
                        box-shadow: none;
                    }
                }
            }
        }		
        .action {
            &.previous {
                margin-right: 0;
            }

            &.next {
                margin-left: 0;
            }
        }
    }
}
// Cart page
& when (@media-common = true) {
	.cart-container{
		.cart{
			&.table-wrapper{
				.items{
					.item-actions{
						.action{
							.lib-button-reset;
							text-transform: none;
						}
					}
					.item{
						&:last-child{
							border-bottom: 0;
						}
					}
				}
				th{
					&.col{
						width: auto;
						.lib-font-size(16);
						color: @heading__color__base;
						font-weight: @heading__font-weight__base;
						padding-top: 1.5rem;
						padding-bottom: 1.5rem;
						background-color: @color-white;
						border-bottom: 0;
					}
				}
				td{
					border-bottom: none; 
					&.price{
						color: @heading__color__base;
					}
				}
				.product-item-details{
					vertical-align: middle;
				}
			}	
			.box-tocart .up-down{
				max-width: 120px;
				justify-content: space-between;
			}
		}
		.cart.actions{
			.clear{
				&:not(:hover){
					.lib-css(background-color, @second_button_bg);
					.lib-css(color, @second_button_color);
				}
			}
		}
	}
	.cart-empty{
		text-align: center;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.cart-container{
		.cart{
			&.table-wrapper{
				.col{
					width: auto;
				}
				.items{
					tr th,
					.item{
						padding-left: 1rem;
						padding-right: 1rem;
					}
					.item{
						.item-actions{
							.actions-toolbar{
								.flex();
								.action{
									&:before{
										.lib-css(color, @greycolor);
									}
								}
							}
						}
					}
				}
				.box-tocart .up-down .control input{
					padding: 0 5px;
   					max-width: 40px;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.cart-container{
		.cart{
			.box-tocart .up-down{
				max-width: 8rem !important;
			}
		}
	}
}
// Check out page
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	body .block-authentication {
		.block-title{
			.lib-font-size(24);
			text-align: center;
			strong{
				font-weight: @heading__font-weight__base;
			}
		}
	}
}
// Wishlish Product
& when (@media-common = true) {
	.products-grid {
		&.wishlist {
			.product-items {
				.product-item {
					.product-item-actions, .actions-primary {
						position: static!important;
						left: initial!important;
						top: initial!important;
						right: initial!important;
						bottom: initial!important;
						flex-direction: row;
						justify-content: center;

						&.actions-primary {
							width: 100%;
							transform: none!important;
							visibility: initial!important;
							opacity: initial!important;
						}
					}
					.box-tocart {
						.fieldset {
							.field {
								&.qty {
									padding: 0;

									input.qty {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// My account page
& when (@media-common = true) {

	.login-container{
		max-width: 97rem;
		margin: auto;
		.block {
			.block-title{
				font-size: 2.4rem;
				color: @heading__color__base;
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
				strong{
					font-weight: @heading__font-weight__base;
				}
			}
			.block-content{
				.fieldset  {
					&:after{
						text-align: left;
						margin-top: @indent__s;
					}
					> .field {
						margin-bottom: 2rem;
						.control{
							width: 100%;
						}
						> .label{
							float: none;
							display: block;
							text-align: left;
							padding-top: 0;
						    padding-bottom: 6px;
						    font-weight: @text-weight;
						}

						&.choice {
							> .label {
								display: inline-block;
							}
						}
					}
				}
				.actions-toolbar{
					.flex();
					flex-direction: column-reverse;
					align-items: flex-start;
					.secondary{
						margin-bottom: 3rem;
						float: none !important;
						text-align: right;
						width: 100%;
						a{
							margin-top: 0;
							text-transform: none;
							&:not(:hover){
								color: @text__color;
							}
						}
					}
					.primary{
						width: 100%;
						margin: 0;
						button,
						.action{
							width: 100%;
							margin: 0;
							.lib-css(border-radius, @form-element-input__border-radius);
						}
					}
				}
			}
		}
	}
	// Sign up
	.customer-account-forgotpassword,
	.customer-account-login,
	.customer-account-create {
		.page-title-wrapper .page-title {
			font-size: 3.2rem;
			font-weight: @font-weight__bold;
		}
	}
	.customer-account-create,
	.customer-account-forgotpassword{
		#maincontent{
			max-width: 97rem;
			margin: auto;
		}
		.form-create-account,
		.forget{
			.fieldset{
				&:not(.additional_info){
					background: @color-white;
					padding: 30px;
					border: 1px solid @border-color__base;
					.legend{
						color: @heading__color__base;
						font-weight: @heading__font-weight__base;
						font-family: @heading__font-family__base;
					}
					.newsletter{
						&:before{
							display: none;
						}
					}
				}
			}
			.actions-toolbar{
				width: 100%;
				> div{
					button,
					.action{
						.lib-button();
					    .transition();
						.lib-css(border-radius, @form-element-input__border-radius);
					   	.lib-css(text-transform, @button__text_transform);
					   	width: 100%;
					     &:active {
				            .lib-css(box-shadow, @button__shadow, @_prefix: 1);
				        }
					}
				}
			}
		}
		.forget{
			.captcha{
				button{
					.lib-css(border-radius, @form-element-input__border-radius);
				}
			}
			.actions-toolbar{
				margin-top: 3rem;
			}
		}
	}
	.form.password.reset, 
	.form.send.confirmation, 
	.form.password.forget, 
	.form.create.account, 
	.form.search.advanced, 
	.form.form-orders-search{
		width: auto !important;
	}
	// Logged in
	// Account page
	body.account{
		&.page-layout-2columns-left .sidebar-main, 
		&.page-layout-2columns-right .sidebar-additional{
			.block .title{
				text-align: left;
			}
			
		}
		.column.main{
			> .block,
			.form-edit-account,
			.form-address-edit{
				border: 1px solid @border-color__base;
				padding: 3rem;
				margin-bottom: 3rem;
				.action{
					&:not(.save, .back){
						&:not(:hover){
							.lib-css(color, @greycolor);
						}
					}
				}				
			}
			.actions-toolbar{
				.secondary{
					.action{
						.lib-button();
						.transition();
						.lib-css(border-radius, @button__border-radius);
					   	.lib-css(text-transform, @button__text_transform);
					    &:active {
				            .lib-css(box-shadow, @button__shadow, @_prefix: 1);
				        }
					}
				}
			}
			.wishlist-toolbar{
				&:not(:last-of-type){
					display: none;
				}
			}
			.legend{
				color: @heading__color__base;
			}
			.block.block-dashboard-orders{
				#my-orders-table{
					thead,
					tbody{
						tr{
							th,
							td{
								width: auto;
							}
						}
					}
				}
			}
		}
		.products-grid.wishlist{
			margin-bottom: 4rem;
			.button_quickview{
				display: none;
			}
			.product-items{
				.product-item{
					margin: 0;
					.price-box .old-price *{
						font-size: 1.4rem;
					}
					.price-as-configured{
						margin-bottom: 0;
					}
					.product-item-comment{
						margin-bottom: 8px;
					}
					.box-tocart{
						.fieldset{
							margin-bottom: 1rem;
						}
					}
				}
			}
			.product-item-actions{
				.action{
					&.edit, 
					&.delete{
						&:not(:hover){
							.lib-css(color, @greycolor);
						}
					}
				}	
			}
		}
		.limiter{
			select{
				height: 4rem;
			}
		}
		// orders-history
		.orders-history{
			table#my-orders-table{
				margin-bottom: 0;
				thead,
				tbody{
					th,
					td{
						padding: 1rem 1.5rem;
						width: auto;		
						border: 1px solid @border-color__base;		
					}
				}
				thead{
					th{
						border-bottom: 0 !important;
					}
				}
			}
		}
		// sales-order-print
		&.sales-order-print{
			.column.main .actions-toolbar .secondary .action{
				.lib-button-reset();
			}
		}
	}
	.account-nav,
	.block-collapsible-nav {
		.block-collapsible-nav-title{
			.lib-visually-hidden();
			margin: 0;
		}
		margin-bottom: 0;
		.content,
		.block-collapsible-nav-content{
			background-color: transparent;
			padding: 0;
			border: 1px solid @border-color__base;
			padding: 3rem;
			.nav.items{
				.item{
					a{
						border-left: 0;
						padding: 6px 0;
						&:not(:hover){
							color: @text__color;
						}
						&:hover{
							background: transparent;
						}
					} 
					.delimiter{
						border-top: 1px solid @border-color__base;
						margin-left: 0;
	    				margin-right: 0;
					}
					&.current{
						strong{
							color: @theme__color__primary;
							border-left: 0;
							padding: 0 0 6px;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wishlist-index-index .products-grid .product-item{
		width: 20%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.login-container{
		.block{
			&.block-customer-login{
				position: relative;
				padding-right: 5%;
				&:before{
					position: absolute;
				    content: '';
				    top: 0;
				    bottom: 0;
				    right: -2.5%;
				    text-align: center;
				    margin: auto;
				    @transform: translateX(50%);
				    .lib-css(transform, @transform, @_prefix: 1);
				    z-index: 1;
				}
				&:after{
					content: '';
					position: absolute;
					top: 0;
					right: -2.5%;
					bottom: 0;
					border-right: 1px solid @border-color__base;
					z-index: 0;
				}
			}
			&.block-new-customer{
				padding-left: 5%;
			}
		}
	}
	body{
		.fieldset > .field.choice:before, 
		.fieldset > .field.no-label:before{
			padding: 0;
		}		
	}
	.customer-account-create{
		.form-create-account{
			.fieldset{
				&:not(.additional_info){
					float: left;
					overflow: hidden;
					width: calc(~'50% - 30px');
					margin: 0 15px;
					overflow: visible;
				}
			}
			.actions-toolbar{
				> div{
					width: calc(~'50% - 30px');
				}
			}
		}
	}
	.customer-account-create,
	.customer-account-forgotpassword{
		.form-create-account{
			.actions-toolbar{
				> div{
					margin: 3rem 15px 0;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.account .column.main{
		margin-bottom: 3rem !important;
	}
	.sidebar-additional{
		margin-top: 3rem !important;
	}
}
// End my account

// Compare page
& when (@media-common = true) {
	.table-wrapper.comparison{
		border: 1px solid @border-color__base;
		border-bottom: 0;
	}
	#product-comparison{
		background-color: @color-white;
		margin-bottom: 0;
		.cell.label .attribute.label{
			font-weight: @heading__font-weight__base;
		}
		th.cell.label{
			background-color: #f3f5f6;
			vertical-align: middle;
			border-bottom: 1px solid @border-color__base;
		}
		thead{
			tr{
				td.remove{
					padding-top: 10px;
					padding-bottom: 10px;
					text-align: center;
					border-right: 1px solid @border-color__base;
				}
			}
		}
		tbody{
			tr{
				td{
					border-bottom: 1px solid @border-color__base;
					border-right: 1px solid @border-color__base;
					.attribute.value{
						h2{
							font-size: 20px !important;
						}
					}
				}
				.button_quickview{
					display: none;
				}
				.reviews-actions{
					display: none;
				}
				.special-price,
				.price-final_price{
					font-weight: @heading__font-weight__base;
				}
				.product-item-actions{
					position: relative;
					.actions-primary{
						width: 100%;
						.action.tocart{
							width: 100%;
							padding: 1.35rem 3rem 1.35rem 1rem;
						}
					}
					.actions-secondary{
						margin-top: 0 !important;
						position: absolute;
					    right: 5px;
					    top: 50%;
					    @transform: translateY(-50%);
					    .lib-css(transform, @transform, 1);
					    margin: 0;
					    .towishlist{
					    	background-color: @color-white;
					    	.lib-css(border-radius, @button__border-radius);
					    }
					}
				}
			}
		}
		.cell{
			width: 195px;
		}
	}
}
// Order page
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	form.form-orders-search{
		margin: auto;
	}
}