// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        position: relative;
        z-index: 2;
        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .flex();
                margin: auto;
                width: 100%;
                justify-content: center;
                .input-focus{
                    flex: 1;
					@media only screen and (max-width: (@screen__xs - 1)){
						flex: none;
					}
                }
				@media only screen and (max-width: (@screen__xs - 1)){
					> * {
						width:100%;
						.action.subscribe {
							margin:2rem 0 0 0;
							width:100%;
						}
					}
				}
            }
        }

        input {
            padding: 0px; // Reset some default Safari padding values.
            border: none;
			border-bottom: 2px solid @heading__color__base;  
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }
        .action.subscribe {
            margin-left: 15px;
        }
         div.mage-error[generated]{
            position: absolute;
         }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        .field {
            .control {
            }
        }
    }
}
