// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 3.6rem 4rem;
@banner__content_left_padding: 1.6rem 1.5rem 1.5rem 4.5rem;
@banner__content_mobile_padding: 4.5rem 2rem;
& when (@media-common = true) {
	//slideshow
	.wrapper-the-blue-sky-slider {
		> div {
			padding-left: 1.5rem;
			padding-right: 1.5rem; 
			max-width: 1860px;
			margin: auto;
			@media only screen and (min-width: @screen__l){
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
		.container-the-blue-sky-slider {
			 overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius);
					line-height: 1; 
					
				}
			}
		} 
	}
	//banner
	.banner {
		&.furniture-bottom {
			.col-banner {
				&.absolute-content-image {
					.content {
						.banner-content {
							width: 50%;
							@media only screen and (min-width: @screen__l){
								width: 40%;
							}
							@media only screen and (max-width: (@screen__xs - 1)){ 
								width: 70%;
							}
							h5:not(.margin_0) {
								margin: 0 0 3rem 0px; 
							}
							h2 {
								line-height: 1;
							}
							.button-wrap {
								margin-top: 4rem;
								a {
									border: none;
									margin: 0;
									&:after {
										opacity: 1;					
									}
									
								}
							}
						}
					}
				}			
			}
		}
	}
	.banner{   
		.row{
			@media only screen and (min-width: @screen__m){
				margin-bottom: 3rem;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.col-banner.absolute-content-image { 
			.content{
				h4:not(.margin_0){
					margin-top: 0;
					margin-bottom: 0.5rem;
				}
				p{
					margin-top: 0;
				} 
				.button-wrap{
					margin-top: 5px; 
					a:not(.btn){
						border: none; 
					}
				}
			}
			&.center{
				.content{
					h5:not(.margin_0){
						margin: 0;
						margin-bottom: 1.2rem;
					}
					h4:not(.margin_0){
						margin:  0;
						margin-bottom: 2rem;
					}
					p:not(.margin_0){
						margin: 0;
						margin-bottom: 2.2rem;
					}
				}
			}
		}
	}
	.our-products{ 
		.wrapper_product_tabs {
			margin: 0;
		}
	 	.banner-left {
			margin-top: 4rem;
		} 
		.banner-right {
			@media only screen and (min-width: @screen__xs){
				margin-bottom: 3rem;
			}
		}
	 	.banner{
			.col-banner.absolute-content-image.bottom {
				.content{
					@media only screen and (min-width: @screen__l){
						padding-left: 4.5rem;
						padding-bottom: 5.3rem;
					}
				} 
			}
		} 
	}
	
}