/*-- Css for Home Page*/
.navigation:not(.mobile-style) li.level0.parent > .level-top:after , .navigation:not(.mobile-style) li.level0.classic .subchildmenu .level1.parent > a > span:after{ display:none;}
.new-arrow:hover::before {  margin-left: 20px;}
.block.newsletter.newsletter-form input{  border: 1px solid #322a7e !important;color: #322a7e; border-right: 0px !important; }
.block.newsletter.newsletter-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #322a7e;
  opacity: 1; /* Firefox */
}
.bluesky-page-preloader .page-footer .footer.content ul li a:hover{     color: #f86060 !important;padding-left: 0px; } 
.bluesky-page-preloader  #magelearn-customform-form .control input{ border-radius: 0px!important;}

/*-- Css for store Locator Page*/

#locator_filter .column_left .block-content input,
#locator_filter .column_left .block-content {
    background: #e9e5f3;
    border: 1px solid #e9e5f3;  
}
#locator_filter .column_left .block-content input {
    height: auto;
    padding: 6px 10px;
}
#locator_filter .column_left .block-content .button img {
    width: 20px;
}
#locator_filter .column_left .block-content {
    border-radius: 5px;
}
#locator_filter .column_left .block-content input::placeholder {
    color: #322a7e;
}
#locator_filter .column_left .block-content .button {
    padding: 7px 10px !important;
}

.store_list .count {
    width: 30px;
    margin: 30px 20px;
    text-align: center;
    border: 2px solid #322a7e;
    font-weight: 600;
    border-radius: 50%;
    height: max-content;
    padding: 5px 0;
    font-family: 'Mark Pro';
    line-height: 16px;
    color: #322a7e;
}
#locator_filter .column_left .center #store_list .list .location-information .view-detail a {
    text-transform: uppercase;
    color: #332b7e !important;
    font-weight: 600 !important;
}
.location-information .view-detail {
    margin-top: 15px;
}
.location-information .view-detail img {
    margin-right: 8px;
    max-width: 25px;
}
/*----  About us Page Css ------*/
.cms-about-us .txt-lg p{ width:430px;}