@topbarbg:  @color-white;
@topbarcolor: @text__color;

@theme__color__primary: #92ac28;

@slider_h4_font-size-xxl: 24px;
@slider_h4_font-size-xl: 22px;
@slider_h4_font-size-l: 20px;
@slider_h4_font-size-s: 18px;
@slider_h4_font-size-xs: 16px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @slider_h2_font-weight;
@slider_h4_text-transform: @slider_h2_text-transform; 
@slider_h4_margin: 20px;
@slider_h4_line-height: false;

@slider_button_bg: @heading__color__base;
@slider_button_margin-top: 30px;
//banner
@content_banner_padding: 7.5rem 1.5rem 0 4rem; 

& when (@media-common = true) {  
	//banner 
	.lazyload-image{
		.banner.plant-bottom .banner-img img[data-src]{
			padding-top: 39.6560708702%;   
		}
	}
	.lazyload-image{
		.banner.plant-top .banner-img img[data-src]{
			padding-top:100%; 
		}
		.banner.plant-top .col-bottom .banner-img img[data-src]{
			padding-top:50%;  
		}
	}
	.plant-top {
		max-width: 1920px;
		margin: auto;
		padding-top:30px;
		@media only screen and (min-width: @screen__m){
			.row-banner {
				margin-bottom: 30px; 
			}
		}
		&.banner .col-banner.absolute-content-image{
			.content{
				@media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)){
					padding-top: 20px;
					padding-left: 20px;
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					padding-top: 20px;
					padding-left: 20px;
				}
				&.white-text{
					.button-wrap a {
						border-color: @color-white;
						&:hover {
							color: @color-white !important; 
							&:after {
								color: inherit;
							}
						}
					}
				} 
			}
		} 
	}
	.banner.plant-bottom .col-banner.absolute-content-image:not(.as-desktop):not(.not-has-text) .banner-img {
		@media only screen and (max-width: (@screen__m - 1)){
			opacity: 0.5;
		}
	}
	//Instagram/
	.section.position-bottom {
		background: #f8f5ec;
		.lib-css(padding-bottom, @margin_gobal_value); 
	}
	.rokantheme-instagram{
		.rokan-title{
			display: none;
		}
	}
	//brand
	.block-widget-rokanthemes-brand{
		&:after{
			display: none;  
		}
		
	}
	//newletter
	.block.newsletter input {
		background: transparent;
	}
	.cms-index-index .page-footer{ 
		margin-top: 0;
	}
}
