
<?php

/**

 * Copyright © Magento, Inc. All rights reserved.

 * See COPYING.txt for license details.

 */



/** @var \Magento\Contact\Block\ContactForm $block */

?>

<form class="form contact"

      action="<?= $block->escapeUrl($block->getFormAction()) ?>"

      id="contact-form"

      method="post"

      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"

      data-mage-init='{"validation":{}}'>


    <fieldset class="fieldset">
        <h2 class="formContactHeading"><span><?= $block->escapeHtml(__('Need more assistance? Simply get in touch through the form below')) ?></span></h2>
         <p class="formContactSubline"><span><?= $block->escapeHtml(__('We will get back to you as soon as possible')) ?></span></p>
        <div class="formContact-formWrapper">
            <div class="formContact-formInner">
    			<div class="field name required col-sm-12">

    				<div class="control">

    					<input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="<?= $block->escapeHtml(__('Name*')) ?>"/>
    				</div>
    			</div>

                <div class="field">
                    <div class="field email required col-sm-6">
                        <div class="control">

                            <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Your email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="<?= $block->escapeHtml(__('Email Address*')) ?>"/>

                        </div>

                    </div>
                    <div class="field telephone col-sm-6">

                        <div class="control">

                            <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Contact Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" placeholder="<?= $block->escapeHtml(__('Contact Number*')) ?>"/>

                        </div>

                    </div>
                </div>
                   <div class="field telephone col-sm-12">

                        <div class="control">

                            <select name="gernal_enquiry" id="gernal_enquiry">
                                
                              <option value="Feedback/Suggesions"><?= $block->escapeHtmlAttr(__('Feedback/Suggesions')) ?></option>
                              <option value="Shipping / Order Status"><?= $block->escapeHtmlAttr(__('Shipping / Order Status')) ?></option>
                              <option value="Damages"><?= $block->escapeHtmlAttr(__('Damages')) ?></option>
                              <option value="Request Return"><?= $block->escapeHtmlAttr(__('Request Return')) ?></option>
                               <option value="Other Enquires"><?= $block->escapeHtmlAttr(__('Other Enquires')) ?></option>
                            </select>

                        </div>

                    </div>
                
                  <div class="field email required col-sm-12">
                        <div class="control">

                            <input name="subject" id="subject" title="<?= $block->escapeHtmlAttr(__('Subject')) ?>" value="" class="input-text" type="text"  placeholder="<?= $block->escapeHtml(__('Subject')) ?>"/>

                        </div>

                    </div>
                <div class="field comment required col-sm-12">

                    <div class="control">

                        <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" placeholder="<?= $block->escapeHtml(__('Message')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>

                    </div>

                </div>
			</div>
                <?= $block->getChildHtml('form.additional.info') ?>
                <div class="actions-toolbar">
                    <div class="primary">

                        <input type="hidden" name="hideit" id="hideit" value="" />

                        <button type="submit" title="<?= $block->escapeHtmlAttr(__('Ask a question')) ?>" class="action submit primary">

                            <span><?= $block->escapeHtml(__('Submit')) ?></span>

                        </button>
                    </div> 
                </div>
            </div>
        </div>
    </fieldset>

</form>

