<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Customer\Block\Account\AuthorizationLink $block
 * @var \Magento\Framework\Escaper $escaper
 */
$dataPostParam = '';
$my_account_link = false;
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
    $my_account_link = true;
}
?>
<li class="link authorization-link" data-label="<?= __('or') ?>">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?>
        <?= /* @noEscape */ $dataPostParam ?>><?= $block->getLabel() ?></a>
</li>
<?php 
if($my_account_link){
?>
<li class="my_account_link_custom"><a href="<?php echo $this->getUrl('customer/account');?>" title="<?php echo __('My Account'); ?>"><?php echo __('My Account'); ?></a></li>
<?php } ?>