<?php
use Magento\Framework\App\Action\Action;
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$limit = $block->getRequest()->getParam('limit');
if(!$rows= $block->getRequest()->getParam('number_row'))
{
    $rows = 1;
}
?>
<?php if (!$_productCollection->count()) :?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div></div>
<?php else :?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items owl-carousel">
            <?php /** @var $_product \Magento\Catalog\Model\Product */
            $i = 0;
            ?>
            <?php foreach ($_productCollection as $_product) :

            ?>
            <?php if($i++ % $rows == 0): ?>
            <div class="item-row">
                <?php endif; ?>
                <li class="item product product-item" >
                    <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode ?>">
						<div class="product-item-inner">
							 <?php
							$productImage = $block->getImage($_product, 'product_tab_product_image');
							if ($pos != null) {
								$position = ' style="left:' . $productImage->getWidth() . 'px;'
									. 'top:' . $productImage->getHeight() . 'px;"';
							}
							?>
							<?php // Product Image ?>
							<a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
							   class="product photo product-item-photo"
							   tabindex="-1">
								<?= $productImage->toHtml() ?>
								<?php if($block->getRequest()->getParam('imgHover')): ?>
								<?php $productImageHover = $block->getImage($_product, 'product_tab_product_image_hover'); ?>
								<img class="image_hover" src="<?= $productImageHover->getImageUrl(); ?>" />
								<?php endif; ?>
							</a>
							<div class="product-label">
								<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
									<span class="onsale">
										<span class="value"><?= -100 + round(($_product->getFinalPrice() / $_product->getPrice() * 100)) ?>%</span>
									</span>
								<?php endif; ?>
								<?php $todayDate = time(); 
									$timeStartNew = strtotime($_product->getData('news_from_date'));
									$timeEndNew = strtotime($_product->getData('news_to_date')); ?>
								<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
									<span class="newlabel">
										<span><?php echo __('New') ?></span>
									</span>
								<?php endif; ?>
							</div>
							<div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $block->escapeHtmlAttr($position) : '' ?>>							
								<div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
									<?php if ($addToBlock = $block->getChildBlock('addto')) :?>
										<?= $addToBlock->setProduct($_product)->getChildHtml() ?>
									<?php endif; ?>
								</div>
								<div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $block->escapeHtmlAttr($position) : '' ?>>
									<?php if ($_product->isSaleable()) :?>
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
										<form data-role="tocart-form"
											  data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>"
											  action="<?= $block->escapeUrl($postParams['action']) ?>"
											  method="post">
											<input type="hidden"
												   name="product"
												   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
											<input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
												   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
											<?= $block->getBlockHtml('formkey') ?>
											<button type="submit"
													title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
													class="action tocart primary">
												<span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
											</button>
										</form>
									<?php else :?>
										<?php if ($_product->isAvailable()) :?>
											<div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
										<?php else :?>
											<div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							</div>
						</div>
                       
                        <div class="product details product-item-details">							 
							<?php if ($_product->isAvailable()) :?>
                                <?= $block->getProductDetailsHtml($_product) ?>
                            <?php endif; ?>
                            <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                                    <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </strong>
                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
							<?php if ($block->getMode() == 'list') { ?>
								<div class="product description product-item-description">
									<?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
								</div> 
							<?php } ?>
                        
                        </div>
                    </div>
                </li>
            <?php if($i == $limit): ?>
                </div>
                <?php break; ?>
            <?php endif; ?>
            <?php if($i == count($_productCollection) || $i % $rows == 0): ?>
            </div>
            <?php endif; ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) :?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
