@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1zcmrn');
  src:  url('../fonts/icomoon.eot?1zcmrn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1zcmrn') format('truetype'),
    url('../fonts/icomoon.woff?1zcmrn') format('woff'),
    url('../fonts/icomoon.svg?1zcmrn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ac_unit:before {
  content: "\eb3b";
}
.icon-alarm:before {
  content: "\e855";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-accessibility:before {
  content: "\e84e";
}
.icon-accessible:before {
  content: "\e914";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-airplay:before {
  content: "\e055";
}
.icon-phone1:before {
  content: "\e0cd";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-redeem:before {
  content: "\e8b1";
}
.icon-card_membership:before {
  content: "\e8f7";
}
.icon-child_care:before {
  content: "\eb41";
}
.icon-comment1:before {
  content: "\e0b9";
}
.icon-laptop1:before {
  content: "\e31e";
}
.icon-content_cut1:before {
  content: "\e14f";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-desktop_mac1:before {
  content: "\e30d";
}
.icon-desktop_windows1:before {
  content: "\e30e";
}
.icon-phonelink:before {
  content: "\e326";
}
.icon-devices_other:before {
  content: "\e337";
}
.icon-dialer_sip:before {
  content: "\e0bb";
}
.icon-directions_bike:before {
  content: "\e52f";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-equalizer:before {
  content: "\e01d";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border1:before {
  content: "\e87f";
}
.icon-fingerprint:before {
  content: "\e90d";
}
.icon-format_indent_decrease:before {
  content: "\e23d";
}
.icon-goat:before {
  content: "\e900";
}
.icon-grid_on:before {
  content: "\e3ec";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-local_hotel:before {
  content: "\e549";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-laptop_windows:before {
  content: "\e321";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-perm_phone_msg:before {
  content: "\e8a8";
}
.icon-phone_forwarded:before {
  content: "\e61c";
}
.icon-phone_in_talk:before {
  content: "\e61d";
}
.icon-phone_iphone:before {
  content: "\e325";
}
.icon-phone_paused1:before {
  content: "\e621";
}
.icon-phonelink_ring:before {
  content: "\e0dd";
}
.icon-public:before {
  content: "\e80b";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-remove_shopping_cart:before {
  content: "\e928";
}
.icon-ring_volume:before {
  content: "\e0d1";
}
.icon-settings_phone:before {
  content: "\e8c5";
}
.icon-textsms:before {
  content: "\e0d8";
}
.icon-sort1:before {
  content: "\e164";
}
.icon-speaker:before {
  content: "\e32d";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-stars:before {
  content: "\e8d0";
}
.icon-swap_horiz:before {
  content: "\e8d4";
}
.icon-swap_vert:before {
  content: "\e8d5";
}
.icon-tablet_mac:before {
  content: "\e331";
}
.icon-tune:before {
  content: "\e429";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-border_all:before {
  content: "\e228";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-content_cut:before {
  content: "\e14e";
}
.icon-desktop_mac:before {
  content: "\e30b";
}
.icon-desktop_windows:before {
  content: "\e30c";
}
.icon-event_seat:before {
  content: "\e903";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-fiber_manual_record:before {
  content: "\e061";
}
.icon-filter_list:before {
  content: "\e152";
}
.icon-filter_none:before {
  content: "\e3e0";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-star1:before {
  content: "\e838";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-local_mall:before {
  content: "\e54c";
}
.icon-people_outline:before {
  content: "\e7fc";
}
.icon-phone_paused:before {
  content: "\e620";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-download:before {
  content: "\f019";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-dedent:before {
  content: "\f03b";
}
.icon-outdent:before {
  content: "\f03b";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-expand:before {
  content: "\f065";
}
.icon-compress:before {
  content: "\f066";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-upload:before {
  content: "\f093";
}
.icon-phone:before {
  content: "\f095";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd-o:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-gavel:before {
  content: "\f0e3";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-archive:before {
  content: "\f187";
}
.icon-bug:before {
  content: "\f188";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-try:before {
  content: "\f195";
}
.icon-turkish-lira:before {
  content: "\f195";
}
.icon-plus-square-o:before {
  content: "\f196";
}
.icon-slack:before {
  content: "\f198";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-openid:before {
  content: "\f19b";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.icon-stumbleupon:before {
  content: "\f1a4";
}
.icon-delicious:before {
  content: "\f1a5";
}
.icon-digg:before {
  content: "\f1a6";
}
.icon-pied-piper-pp:before {
  content: "\f1a7";
}
.icon-pied-piper-alt:before {
  content: "\f1a8";
}
.icon-drupal:before {
  content: "\f1a9";
}
.icon-joomla:before {
  content: "\f1aa";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-fax:before {
  content: "\f1ac";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-spoon:before {
  content: "\f1b1";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-behance-square:before {
  content: "\f1b5";
}
.icon-steam:before {
  content: "\f1b6";
}
.icon-steam-square:before {
  content: "\f1b7";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-tree:before {
  content: "\f1bb";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-vine:before {
  content: "\f1ca";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-jsfiddle:before {
  content: "\f1cc";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-history:before {
  content: "\f1da";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-bomb:before {
  content: "\f1e2";
}
.icon-futbol-o:before {
  content: "\f1e3";
}
.icon-soccer-ball-o:before {
  content: "\f1e3";
}
.icon-binoculars:before {
  content: "\f1e5";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-calculator:before {
  content: "\f1ec";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-copyright:before {
  content: "\f1f9";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-eyedropper:before {
  content: "\f1fb";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-birthday-cake:before {
  content: "\f1fd";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-lastfm-square:before {
  content: "\f203";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-diamond:before {
  content: "\f219";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-venus:before {
  content: "\f221";
}
.icon-mars:before {
  content: "\f222";
}
.icon-mercury:before {
  content: "\f223";
}
.icon-intersex:before {
  content: "\f224";
}
.icon-transgender:before {
  content: "\f224";
}
.icon-transgender-alt:before {
  content: "\f225";
}
.icon-venus-double:before {
  content: "\f226";
}
.icon-mars-double:before {
  content: "\f227";
}
.icon-venus-mars:before {
  content: "\f228";
}
.icon-mars-stroke:before {
  content: "\f229";
}
.icon-mars-stroke-v:before {
  content: "\f22a";
}
.icon-mars-stroke-h:before {
  content: "\f22b";
}
.icon-neuter:before {
  content: "\f22c";
}
.icon-genderless:before {
  content: "\f22d";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-server:before {
  content: "\f233";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-opencart:before {
  content: "\f23d";
}
.icon-battery:before {
  content: "\f240";
}
.icon-battery-4:before {
  content: "\f240";
}
.icon-battery-full:before {
  content: "\f240";
}
.icon-battery-3:before {
  content: "\f241";
}
.icon-battery-three-quarters:before {
  content: "\f241";
}
.icon-battery-2:before {
  content: "\f242";
}
.icon-battery-half:before {
  content: "\f242";
}
.icon-battery-1:before {
  content: "\f243";
}
.icon-battery-quarter:before {
  content: "\f243";
}
.icon-battery-0:before {
  content: "\f244";
}
.icon-battery-empty:before {
  content: "\f244";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-object-group:before {
  content: "\f247";
}
.icon-object-ungroup:before {
  content: "\f248";
}
.icon-sticky-note:before {
  content: "\f249";
}
.icon-sticky-note-o:before {
  content: "\f24a";
}
.icon-cc-jcb:before {
  content: "\f24b";
}
.icon-cc-diners-club:before {
  content: "\f24c";
}
.icon-clone:before {
  content: "\f24d";
}
.icon-balance-scale:before {
  content: "\f24e";
}
.icon-gg:before {
  content: "\f260";
}
.icon-gg-circle:before {
  content: "\f261";
}
.icon-tripadvisor:before {
  content: "\f262";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv:before {
  content: "\f26c";
}
.icon-amazon:before {
  content: "\f270";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-map:before {
  content: "\f279";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-houzz:before {
  content: "\f27c";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-black-tie:before {
  content: "\f27e";
}
.icon-fonticons:before {
  content: "\f280";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-edge:before {
  content: "\f282";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-codiepie:before {
  content: "\f284";
}
.icon-modx:before {
  content: "\f285";
}
.icon-fort-awesome:before {
  content: "\f286";
}
.icon-usb:before {
  content: "\f287";
}
.icon-product-hunt:before {
  content: "\f288";
}
.icon-mixcloud:before {
  content: "\f289";
}
.icon-scribd:before {
  content: "\f28a";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-bluetooth:before {
  content: "\f293";
}
.icon-bluetooth-b:before {
  content: "\f294";
}
.icon-percent:before {
  content: "\f295";
}
.icon-envira:before {
  content: "\f299";
}
.icon-wheelchair-alt:before {
  content: "\f29b";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.icon-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.icon-asl-interpreting:before {
  content: "\f2a3";
}
.icon-deaf:before {
  content: "\f2a4";
}
.icon-deafness:before {
  content: "\f2a4";
}
.icon-hard-of-hearing:before {
  content: "\f2a4";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
.icon-podcast:before {
  content: "\f2ce";
}
.icon-box:before {
  content: "\e907";
}
.icon-write:before {
  content: "\e910";
}
.icon-clock:before {
  content: "\e92c";
}
.icon-reply2:before {
  content: "\e92d";
}
.icon-reply-all1:before {
  content: "\e92e";
}
.icon-forward2:before {
  content: "\e92f";
}
.icon-flag2:before {
  content: "\e930";
}
.icon-search2:before {
  content: "\e931";
}
.icon-trash1:before {
  content: "\e932";
}
.icon-envelope1:before {
  content: "\e933";
}
.icon-bubble:before {
  content: "\e934";
}
.icon-bubbles:before {
  content: "\e935";
}
.icon-user1:before {
  content: "\e936";
}
.icon-users1:before {
  content: "\e937";
}
.icon-cloud1:before {
  content: "\e938";
}
.icon-download1:before {
  content: "\e939";
}
.icon-upload1:before {
  content: "\e93a";
}
.icon-rain:before {
  content: "\e93b";
}
.icon-sun:before {
  content: "\e93c";
}
.icon-moon:before {
  content: "\e93d";
}
.icon-bell1:before {
  content: "\e93e";
}
.icon-folder2:before {
  content: "\e93f";
}
.icon-pin:before {
  content: "\e940";
}
.icon-sound:before {
  content: "\e941";
}
.icon-microphone1:before {
  content: "\e942";
}
.icon-camera2:before {
  content: "\e943";
}
.icon-image1:before {
  content: "\e944";
}
.icon-cog1:before {
  content: "\e945";
}
.icon-calendar1:before {
  content: "\e946";
}
.icon-book1:before {
  content: "\e947";
}
.icon-map-marker1:before {
  content: "\e948";
}
.icon-store:before {
  content: "\e949";
}
.icon-support1:before {
  content: "\e94a";
}
.icon-tag1:before {
  content: "\e94b";
}
.icon-heart1:before {
  content: "\e94c";
}
.icon-video-camera1:before {
  content: "\e94d";
}
.icon-trophy1:before {
  content: "\e94e";
}
.icon-cart:before {
  content: "\e94f";
}
.icon-eye1:before {
  content: "\e950";
}
.icon-cancel1:before {
  content: "\e951";
}
.icon-chart:before {
  content: "\e952";
}
.icon-target:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-location:before {
  content: "\e955";
}
.icon-bookmark1:before {
  content: "\e956";
}
.icon-monitor:before {
  content: "\e957";
}
.icon-cross:before {
  content: "\e958";
}
.icon-plus1:before {
  content: "\e959";
}
.icon-left:before {
  content: "\e95a";
}
.icon-up:before {
  content: "\e95b";
}
.icon-browser:before {
  content: "\e95c";
}
.icon-windows1:before {
  content: "\e95d";
}
.icon-switch:before {
  content: "\e95e";
}
.icon-dashboard2:before {
  content: "\e95f";
}
.icon-play1:before {
  content: "\e960";
}
.icon-fast-forward1:before {
  content: "\e961";
}
.icon-next:before {
  content: "\e962";
}
.icon-refresh2:before {
  content: "\e963";
}
.icon-film1:before {
  content: "\e964";
}
.icon-home2:before {
  content: "\e965";
}
.icon-activity:before {
  content: "\e966";
}
.icon-airplay1:before {
  content: "\e967";
}
.icon-alert-circle:before {
  content: "\e968";
}
.icon-alert-octagon:before {
  content: "\e969";
}
.icon-alert-triangle:before {
  content: "\e96a";
}
.icon-align-center1:before {
  content: "\e96b";
}
.icon-align-justify1:before {
  content: "\e96c";
}
.icon-align-left1:before {
  content: "\e96d";
}
.icon-align-right1:before {
  content: "\e96e";
}
.icon-anchor1:before {
  content: "\e96f";
}
.icon-aperture:before {
  content: "\e970";
}
.icon-archive2:before {
  content: "\e971";
}
.icon-arrow-down-circle:before {
  content: "\e972";
}
.icon-arrow-down-left:before {
  content: "\e973";
}
.icon-arrow-down-right:before {
  content: "\e974";
}
.icon-arrow-down1:before {
  content: "\e975";
}
.icon-arrow-left-circle:before {
  content: "\e976";
}
.icon-arrow-left1:before {
  content: "\e977";
}
.icon-arrow-right-circle:before {
  content: "\e978";
}
.icon-arrow-right1:before {
  content: "\e979";
}
.icon-arrow-up-circle:before {
  content: "\e97a";
}
.icon-arrow-up-left:before {
  content: "\e97b";
}
.icon-arrow-up-right:before {
  content: "\e97c";
}
.icon-arrow-up1:before {
  content: "\e97d";
}
.icon-at-sign:before {
  content: "\e97e";
}
.icon-award:before {
  content: "\e97f";
}
.icon-bar-chart-2:before {
  content: "\e980";
}
.icon-bar-chart1:before {
  content: "\e981";
}
.icon-battery-charging:before {
  content: "\e982";
}
.icon-battery1:before {
  content: "\e983";
}
.icon-bell-off:before {
  content: "\e984";
}
.icon-bell2:before {
  content: "\e985";
}
.icon-bluetooth2:before {
  content: "\e986";
}
.icon-bold1:before {
  content: "\e987";
}
.icon-book-open:before {
  content: "\e988";
}
.icon-book2:before {
  content: "\e989";
}
.icon-bookmark2:before {
  content: "\e98a";
}
.icon-box1:before {
  content: "\e98b";
}
.icon-briefcase1:before {
  content: "\e98c";
}
.icon-calendar2:before {
  content: "\e98d";
}
.icon-camera-off:before {
  content: "\e98e";
}
.icon-camera3:before {
  content: "\e98f";
}
.icon-cast1:before {
  content: "\e990";
}
.icon-check-circle1:before {
  content: "\e991";
}
.icon-check-square1:before {
  content: "\e992";
}
.icon-check2:before {
  content: "\e993";
}
.icon-chevron-down1:before {
  content: "\e994";
}
.icon-chevron-left1:before {
  content: "\e995";
}
.icon-chevron-right1:before {
  content: "\e996";
}
.icon-chevron-up1:before {
  content: "\e997";
}
.icon-chevrons-down:before {
  content: "\e998";
}
.icon-chevrons-left:before {
  content: "\e999";
}
.icon-chevrons-right:before {
  content: "\e99a";
}
.icon-chevrons-up:before {
  content: "\e99b";
}
.icon-chrome1:before {
  content: "\e99c";
}
.icon-circle1:before {
  content: "\e99d";
}
.icon-clipboard1:before {
  content: "\e99e";
}
.icon-clock1:before {
  content: "\e99f";
}
.icon-cloud-drizzle:before {
  content: "\e9a0";
}
.icon-cloud-lightning:before {
  content: "\e9a1";
}
.icon-cloud-off:before {
  content: "\e9a2";
}
.icon-cloud-rain:before {
  content: "\e9a3";
}
.icon-cloud-snow:before {
  content: "\e9a4";
}
.icon-cloud2:before {
  content: "\e9a5";
}
.icon-code2:before {
  content: "\e9a6";
}
.icon-codepen1:before {
  content: "\e9a7";
}
.icon-coffee1:before {
  content: "\e9a8";
}
.icon-command:before {
  content: "\e9a9";
}
.icon-compass1:before {
  content: "\e9aa";
}
.icon-copy1:before {
  content: "\e9ab";
}
.icon-corner-down-left:before {
  content: "\e9ac";
}
.icon-corner-down-right:before {
  content: "\e9ad";
}
.icon-corner-left-down:before {
  content: "\e9ae";
}
.icon-corner-left-up:before {
  content: "\e9af";
}
.icon-corner-right-down:before {
  content: "\e9b0";
}
.icon-corner-right-up:before {
  content: "\e9b1";
}
.icon-corner-up-left:before {
  content: "\e9b2";
}
.icon-corner-up-right:before {
  content: "\e9b3";
}
.icon-cpu:before {
  content: "\e9b4";
}
.icon-credit-card1:before {
  content: "\e9b5";
}
.icon-crop2:before {
  content: "\e9b6";
}
.icon-crosshair:before {
  content: "\e9b7";
}
.icon-database1:before {
  content: "\e9b8";
}
.icon-delete1:before {
  content: "\e9b9";
}
.icon-disc:before {
  content: "\e9ba";
}
.icon-dollar-sign:before {
  content: "\e9bb";
}
.icon-download-cloud:before {
  content: "\e9bc";
}
.icon-download2:before {
  content: "\e9bd";
}
.icon-droplet:before {
  content: "\e9be";
}
.icon-edit-2:before {
  content: "\e9bf";
}
.icon-edit-3:before {
  content: "\e9c0";
}
.icon-edit1:before {
  content: "\e9c1";
}
.icon-external-link1:before {
  content: "\e9c2";
}
.icon-eye-off:before {
  content: "\e9c3";
}
.icon-eye2:before {
  content: "\e9c4";
}
.icon-facebook1:before {
  content: "\e9c5";
}
.icon-fast-forward2:before {
  content: "\e9c6";
}
.icon-feather:before {
  content: "\e9c7";
}
.icon-figma:before {
  content: "\e9c8";
}
.icon-file-minus:before {
  content: "\e9c9";
}
.icon-file-plus:before {
  content: "\e9ca";
}
.icon-file-text1:before {
  content: "\e9cb";
}
.icon-file1:before {
  content: "\e9cc";
}
.icon-film2:before {
  content: "\e9cd";
}
.icon-filter2:before {
  content: "\e9ce";
}
.icon-flag3:before {
  content: "\e9cf";
}
.icon-folder-minus:before {
  content: "\e9d0";
}
.icon-folder-plus:before {
  content: "\e9d1";
}
.icon-folder3:before {
  content: "\e9d2";
}
.icon-frown:before {
  content: "\e9d3";
}
.icon-gift1:before {
  content: "\e9d4";
}
.icon-git-branch:before {
  content: "\e9d5";
}
.icon-git-commit:before {
  content: "\e9d6";
}
.icon-git-merge:before {
  content: "\e9d7";
}
.icon-git-pull-request:before {
  content: "\e9d8";
}
.icon-github1:before {
  content: "\e9d9";
}
.icon-gitlab1:before {
  content: "\e9da";
}
.icon-globe1:before {
  content: "\e9db";
}
.icon-grid:before {
  content: "\e9dc";
}
.icon-hard-drive:before {
  content: "\e9dd";
}
.icon-hash:before {
  content: "\e9de";
}
.icon-headphones1:before {
  content: "\e9df";
}
.icon-heart2:before {
  content: "\e9e0";
}
.icon-help-circle:before {
  content: "\e9e1";
}
.icon-home3:before {
  content: "\e9e2";
}
.icon-image2:before {
  content: "\e9e3";
}
.icon-inbox2:before {
  content: "\e9e4";
}
.icon-info2:before {
  content: "\e9e5";
}
.icon-instagram1:before {
  content: "\e9e6";
}
.icon-italic1:before {
  content: "\e9e7";
}
.icon-key1:before {
  content: "\e9e8";
}
.icon-layers1:before {
  content: "\e9e9";
}
.icon-layout:before {
  content: "\e9ea";
}
.icon-life-buoy1:before {
  content: "\e9eb";
}
.icon-link-2:before {
  content: "\e9ec";
}
.icon-link2:before {
  content: "\e9ed";
}
.icon-linkedin1:before {
  content: "\e9ee";
}
.icon-list2:before {
  content: "\e9ef";
}
.icon-loader:before {
  content: "\e9f0";
}
.icon-lock2:before {
  content: "\e9f1";
}
.icon-log-in:before {
  content: "\e9f2";
}
.icon-log-out:before {
  content: "\e9f3";
}
.icon-mail:before {
  content: "\e9f4";
}
.icon-map-pin1:before {
  content: "\e9f5";
}
.icon-map2:before {
  content: "\e9f6";
}
.icon-maximize-2:before {
  content: "\e9f7";
}
.icon-maximize:before {
  content: "\e9f8";
}
.icon-meh:before {
  content: "\e9f9";
}
.icon-menu1:before {
  content: "\e9fa";
}
.icon-message-circle:before {
  content: "\e9fb";
}
.icon-message-square:before {
  content: "\e9fc";
}
.icon-mic-off:before {
  content: "\e9fd";
}
.icon-mic1:before {
  content: "\e9fe";
}
.icon-minimize-2:before {
  content: "\e9ff";
}
.icon-minimize:before {
  content: "\ea00";
}
.icon-minus-circle1:before {
  content: "\ea01";
}
.icon-minus-square1:before {
  content: "\ea02";
}
.icon-minus1:before {
  content: "\ea03";
}
.icon-monitor1:before {
  content: "\ea04";
}
.icon-moon1:before {
  content: "\ea05";
}
.icon-more-horizontal:before {
  content: "\ea06";
}
.icon-more-vertical:before {
  content: "\ea07";
}
.icon-mouse-pointer1:before {
  content: "\ea08";
}
.icon-move:before {
  content: "\ea09";
}
.icon-music1:before {
  content: "\ea0a";
}
.icon-navigation-2:before {
  content: "\ea0b";
}
.icon-navigation1:before {
  content: "\ea0c";
}
.icon-octagon:before {
  content: "\ea0d";
}
.icon-package:before {
  content: "\ea0e";
}
.icon-paperclip1:before {
  content: "\ea0f";
}
.icon-pause-circle1:before {
  content: "\ea10";
}
.icon-pause2:before {
  content: "\ea11";
}
.icon-pen-tool:before {
  content: "\ea12";
}
.icon-percent1:before {
  content: "\ea13";
}
.icon-phone-call:before {
  content: "\ea14";
}
.icon-phone-forwarded:before {
  content: "\ea15";
}
.icon-phone-incoming:before {
  content: "\ea16";
}
.icon-phone-missed:before {
  content: "\ea17";
}
.icon-phone-off:before {
  content: "\ea18";
}
.icon-phone-outgoing:before {
  content: "\ea19";
}
.icon-phone2:before {
  content: "\ea1a";
}
.icon-pie-chart1:before {
  content: "\ea1b";
}
.icon-play-circle1:before {
  content: "\ea1c";
}
.icon-play2:before {
  content: "\ea1d";
}
.icon-plus-circle1:before {
  content: "\ea1e";
}
.icon-plus-square1:before {
  content: "\ea1f";
}
.icon-plus2:before {
  content: "\ea20";
}
.icon-pocket:before {
  content: "\ea21";
}
.icon-power1:before {
  content: "\ea22";
}
.icon-printer1:before {
  content: "\ea23";
}
.icon-radio1:before {
  content: "\ea24";
}
.icon-refresh-ccw:before {
  content: "\ea25";
}
.icon-refresh-cw:before {
  content: "\ea26";
}
.icon-repeat2:before {
  content: "\ea27";
}
.icon-rewind:before {
  content: "\ea28";
}
.icon-rotate-ccw:before {
  content: "\ea29";
}
.icon-rotate-cw:before {
  content: "\ea2a";
}
.icon-rss1:before {
  content: "\ea2b";
}
.icon-save2:before {
  content: "\ea2c";
}
.icon-scissors1:before {
  content: "\ea2d";
}
.icon-search3:before {
  content: "\ea2e";
}
.icon-send2:before {
  content: "\ea2f";
}
.icon-server1:before {
  content: "\ea30";
}
.icon-settings1:before {
  content: "\ea31";
}
.icon-share-2:before {
  content: "\ea32";
}
.icon-share2:before {
  content: "\ea33";
}
.icon-shield-off:before {
  content: "\ea34";
}
.icon-shield1:before {
  content: "\ea35";
}
.icon-shopping-bag1:before {
  content: "\ea36";
}
.icon-shopping-cart1:before {
  content: "\ea37";
}
.icon-shuffle1:before {
  content: "\ea38";
}
.icon-sidebar:before {
  content: "\ea39";
}
.icon-skip-back:before {
  content: "\ea3a";
}
.icon-skip-forward:before {
  content: "\ea3b";
}
.icon-slack1:before {
  content: "\ea3c";
}
.icon-slash:before {
  content: "\ea3d";
}
.icon-sliders1:before {
  content: "\ea3e";
}
.icon-smartphone:before {
  content: "\ea3f";
}
.icon-smile:before {
  content: "\ea40";
}
.icon-speaker1:before {
  content: "\ea41";
}
.icon-square1:before {
  content: "\ea42";
}
.icon-star2:before {
  content: "\ea43";
}
.icon-stop-circle1:before {
  content: "\ea44";
}
.icon-sun1:before {
  content: "\ea45";
}
.icon-sunrise:before {
  content: "\ea46";
}
.icon-sunset:before {
  content: "\ea47";
}
.icon-tablet2:before {
  content: "\ea48";
}
.icon-tag2:before {
  content: "\ea49";
}
.icon-target1:before {
  content: "\ea4a";
}
.icon-terminal1:before {
  content: "\ea4b";
}
.icon-thermometer1:before {
  content: "\ea4c";
}
.icon-thumbs-down1:before {
  content: "\ea4d";
}
.icon-thumbs-up1:before {
  content: "\ea4e";
}
.icon-toggle-left1:before {
  content: "\ea4f";
}
.icon-toggle-right1:before {
  content: "\ea50";
}
.icon-trash-2:before {
  content: "\ea51";
}
.icon-trash2:before {
  content: "\ea52";
}
.icon-trello1:before {
  content: "\ea53";
}
.icon-trending-down:before {
  content: "\ea54";
}
.icon-trending-up:before {
  content: "\ea55";
}
.icon-triangle:before {
  content: "\ea56";
}
.icon-truck1:before {
  content: "\ea57";
}
.icon-tv2:before {
  content: "\ea58";
}
.icon-twitter1:before {
  content: "\ea59";
}
.icon-type:before {
  content: "\ea5a";
}
.icon-umbrella1:before {
  content: "\ea5b";
}
.icon-underline1:before {
  content: "\ea5c";
}
.icon-unlock1:before {
  content: "\ea5d";
}
.icon-upload-cloud:before {
  content: "\ea5e";
}
.icon-upload2:before {
  content: "\ea5f";
}
.icon-user-check:before {
  content: "\ea60";
}
.icon-user-minus:before {
  content: "\ea61";
}
.icon-user-plus1:before {
  content: "\ea62";
}
.icon-user-x:before {
  content: "\ea63";
}
.icon-user2:before {
  content: "\ea64";
}
.icon-users2:before {
  content: "\ea65";
}
.icon-video-off:before {
  content: "\ea66";
}
.icon-video:before {
  content: "\ea67";
}
.icon-voicemail1:before {
  content: "\ea68";
}
.icon-volume-1:before {
  content: "\ea69";
}
.icon-volume-2:before {
  content: "\ea6a";
}
.icon-volume-x:before {
  content: "\ea6b";
}
.icon-volume:before {
  content: "\ea6c";
}
.icon-watch1:before {
  content: "\ea6d";
}
.icon-wifi-off:before {
  content: "\ea6e";
}
.icon-wifi2:before {
  content: "\ea6f";
}
.icon-wind:before {
  content: "\ea70";
}
.icon-x-circle:before {
  content: "\ea71";
}
.icon-x-octagon:before {
  content: "\ea72";
}
.icon-x-square:before {
  content: "\ea73";
}
.icon-x:before {
  content: "\ea74";
}
.icon-youtube1:before {
  content: "\ea75";
}
.icon-zap-off:before {
  content: "\ea76";
}
.icon-zap:before {
  content: "\ea77";
}
.icon-zoom-in:before {
  content: "\ea78";
}
.icon-zoom-out:before {
  content: "\ea79";
}
