<div class="header-container layout-11"> 
    <div class="topbar">
        <div class="topbar-inner ">
            <div class="container-fluid">
                <div class="flex-layout space-between center_vertical center-mobile">
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('default_topbar_contact')->toHtml(); ?>
                    <div class="col-right flex-layout center_vertical">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('default_topbar_store')->toHtml(); ?>
                        <div class="language-currency">
                            <div class="container-setting-language-currency">
                                <?php echo $this->getChildHtml("currency"); ?>
                                <?php echo $this->getChildHtml("store_language"); ?> 								
                            </div>
                        </div>
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('default_social_header')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="header">
        	<div class="container-fluid">
	            <div class="flex-layout space-between header-top center_vertical">
	            	 <div class="logo-container">
	                    <div class="logo-site">
	                        <?php echo $this->getChildHtml('logo'); ?>
	                    </div>
	                </div>
                    <div class="top-search-not-dropdown">
                        <?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
                    </div>
	                <div class="col-action col-right">
	                    <ul class="flex-layout action-header center_vertical">
	                        <li><?php echo $this->getChildHtml("top.links"); ?></li>
	                        <?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
	                        <li class="minicart-li-content-show-hide">
	                            <?php echo $this->getChildHtml('minicart'); ?>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
    <div class="header-bottom sticky-header center-element">
        <div class="header">
            <div class="container-fluid">
                <div class="flex-layout space-between center_vertical">   
                <?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
                        <div class="col-left logo-sticky" style="max-width: none;">
                            <a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
                            title="<?php echo __('Logo');?>">
                                <img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
                            </a>
                        </div>
                    <?php } ?>
                    <?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>
                     <div class="col-action col-right show-on-sticky action-sticky">
                        <ul class="flex-layout action-header center_vertical ">
                            <li><?php echo $this->getChildHtml("top.links"); ?></li>
                            <?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
                            <li class="minicart-li-content-show-hide">
                                <?php echo $this->getChildHtml('minicart'); ?>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>