<div class="header-container layout-3">
   
    <div class="header-middle sticky-header center-element">
        <div class="header">
        	<div class="container-fluid">
	            <div class="flex-layout space-between header-top center_vertical">
	            	 <div class="logo-container">
	                    <div class="logo-site">
	                        <?php echo $this->getChildHtml('logo'); ?>
	                    </div>
	                </div>
	                <?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>
	                <div class="col-action col-right">
	                    <ul class="flex-layout action-header center_vertical">
	                        <li><?php echo $this->getChildHtml("top.links"); ?></li>
	                        <li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
	                        <?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
	                        <li class="minicart-li-content-show-hide">
	                            <?php echo $this->getChildHtml('minicart'); ?>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>